# Euro_cup_2024

####Problem Statement: Here our task is To create the Eurocup 2024 format, we need to follow the structure of the tournament, which typically consists of several stages such as group stage, round of 16, quarter-finals, semi-finals, and finals

In [0]:
%python
dbutils.fs.rm(
"dbfs:/user/hive/warehouse/euro11", True)

In [0]:
%sql
show tables

In [0]:
%sql
create or replace table   euro24(team_name varchar(20),grp varchar(10));

In [0]:
%sql
insert into euro24 values ('Italy', 'A'), ('Switzerland', 'A'), ('Turkey', 'A'), ('Wales', 'A'),
    ('Belgium', 'B'), ('Denmark', 'B'), ('Finland', 'B'), ('Russia', 'B'),
    ('Austria', 'C'), ('Netherlands', 'C'), ('North Macedonia', 'C'), ('Ukraine', 'C'),
    ('Croatia', 'D'), ('Czech Republic', 'D'), ('England', 'D'), ('Scotland', 'D'),
    ('Poland', 'E'), ('Slovakia', 'E'), ('Spain', 'E'), ('Sweden', 'E'),
    ('France', 'F'), ('Germany', 'F'), ('Hungary', 'F'), ('Portugal', 'F');

num_affected_rows,num_inserted_rows
24,24

In [0]:
%sql
select * from euro24

team_name,grp
Italy,A
Switzerland,A
Turkey,A
Wales,A
Belgium,B
Denmark,B
Finland,B
Russia,B
Austria,C
Netherlands,C
North Macedonia,C
Ukraine,C
Croatia,D
Czech Republic,D
England,D
Scotland,D
Poland,E
Slovakia,E
Spain,E
Sweden,E
France,F
Germany,F
Hungary,F
Portugal,F

####Group Stage: Teams are divided into groups, and each team plays against every other team in its group. Points are awarded for wins and draws

In [0]:
%sql
select concat (a.team_name , "  Vs ", b.team_name) as Match_fixture,
a.team_name as team1,
a.grp as team1_grp,
b.team_name as team2,
b.grp as team2_grp,
floor(rand() * 6) as team1_score,
floor(rand() * 6) as team2_score,
case when team1_score > team2_score then 3 when team1_score < team2_score then 0 else 0 end as team1_pts,
case when team2_score > team1_score then 3 when team2_score < team1_score then 0 else 1 end as team2_pts,
case when team1_score > team2_score then team1 when team1_score < team2_score then team2 else "draw" end as winner
from euro24 a cross join euro24 b where a.grp = b.grp and a.team_name > b.team_name

Match_fixture,team1,team1_grp,team2,team2_grp,team1_score,team2_score,team1_pts,team2_pts,winner
Switzerland Vs Italy,Switzerland,A,Italy,A,4,2,3,0,Switzerland
Turkey Vs Switzerland,Turkey,A,Switzerland,A,1,5,0,3,Switzerland
Turkey Vs Italy,Turkey,A,Italy,A,2,1,3,0,Turkey
Wales Vs Turkey,Wales,A,Turkey,A,0,1,0,3,Turkey
Wales Vs Switzerland,Wales,A,Switzerland,A,3,3,0,1,draw
Wales Vs Italy,Wales,A,Italy,A,2,0,3,0,Wales
Denmark Vs Belgium,Denmark,B,Belgium,B,4,4,0,1,draw
Finland Vs Denmark,Finland,B,Denmark,B,0,4,0,3,Denmark
Finland Vs Belgium,Finland,B,Belgium,B,5,1,3,0,Finland
Russia Vs Finland,Russia,B,Finland,B,0,4,0,3,Finland
Russia Vs Denmark,Russia,B,Denmark,B,3,5,0,3,Denmark
Russia Vs Belgium,Russia,B,Belgium,B,3,5,0,3,Belgium
Netherlands Vs Austria,Netherlands,C,Austria,C,5,2,3,0,Netherlands
North Macedonia Vs Netherlands,North Macedonia,C,Netherlands,C,5,5,0,1,draw
North Macedonia Vs Austria,North Macedonia,C,Austria,C,3,4,0,3,Austria
Ukraine Vs North Macedonia,Ukraine,C,North Macedonia,C,4,3,3,0,Ukraine
Ukraine Vs Netherlands,Ukraine,C,Netherlands,C,5,5,0,1,draw
Ukraine Vs Austria,Ukraine,C,Austria,C,5,2,3,0,Ukraine
Czech Republic Vs Croatia,Czech Republic,D,Croatia,D,1,3,0,3,Croatia
England Vs Czech Republic,England,D,Czech Republic,D,4,5,0,3,Czech Republic
England Vs Croatia,England,D,Croatia,D,2,5,0,3,Croatia
Scotland Vs England,Scotland,D,England,D,1,0,3,0,Scotland
Scotland Vs Czech Republic,Scotland,D,Czech Republic,D,5,5,0,1,draw
Scotland Vs Croatia,Scotland,D,Croatia,D,2,5,0,3,Croatia
Slovakia Vs Poland,Slovakia,E,Poland,E,4,2,3,0,Slovakia
Spain Vs Slovakia,Spain,E,Slovakia,E,4,5,0,3,Slovakia
Spain Vs Poland,Spain,E,Poland,E,0,5,0,3,Poland
Sweden Vs Spain,Sweden,E,Spain,E,0,3,0,3,Spain
Sweden Vs Slovakia,Sweden,E,Slovakia,E,5,5,0,1,draw
Sweden Vs Poland,Sweden,E,Poland,E,2,5,0,3,Poland
Germany Vs France,Germany,F,France,F,1,5,0,3,France
Hungary Vs Germany,Hungary,F,Germany,F,5,2,3,0,Hungary
Hungary Vs France,Hungary,F,France,F,4,5,0,3,France
Portugal Vs Hungary,Portugal,F,Hungary,F,2,1,3,0,Portugal
Portugal Vs Germany,Portugal,F,Germany,F,1,2,0,3,Germany
Portugal Vs France,Portugal,F,France,F,3,5,0,3,France

In [0]:
%sql
with cte as (select concat (a.team_name , "  Vs ", b.team_name) as Match_fixture,
a.team_name as team1,
a.grp as team1_grp,
b.team_name as team2,
b.grp as team2_grp,
floor(rand() * 6) as team1_score,
floor(rand() * 6) as team2_score,
case when team1_score > team2_score then 3 when team1_score < team2_score then 0 else 0 end as team1_pts,
case when team2_score > team1_score then 3 when team2_score < team1_score then 0 else 1 end as team2_pts,
case when team1_score > team2_score then team1 when team1_score < team2_score then team2 else "draw" end as winner
from euro24 a cross join euro24 b where a.grp = b.grp and a.team_name > b.team_name


) 
(select team1,team1_grp as grp,team1_score as GF,team2_score as GA ,(GF - GA) As GD, team1_pts as points  from cte )
union all
(select team2,team2_grp as grp, team2_score as GF ,team1_score as GA ,(GF - GA) as GD,team2_pts from cte ) order by grp

team1,grp,GF,GA,GD,points
Turkey,A,4,4,0,0
Switzerland,A,4,4,0,1
Switzerland,A,2,2,0,0
Italy,A,2,2,0,1
Turkey,A,5,3,2,3
Italy,A,3,5,-2,0
Wales,A,4,1,3,3
Italy,A,1,4,-3,0
Wales,A,0,5,-5,0
Switzerland,A,5,0,5,3
Wales,A,0,5,-5,0
Turkey,A,5,0,5,3
Denmark,B,2,0,2,3
Belgium,B,0,2,-2,0
Russia,B,3,1,2,3
Finland,B,1,3,-2,0
Russia,B,2,0,2,3
Denmark,B,0,2,-2,0
Finland,B,1,1,0,0
Denmark,B,1,1,0,1
Finland,B,5,4,1,3
Belgium,B,4,5,-1,0
Russia,B,5,5,0,0
Belgium,B,5,5,0,1
Ukraine,C,0,5,-5,0
Austria,C,5,0,5,3
Ukraine,C,5,1,4,3
Netherlands,C,1,5,-4,0
Ukraine,C,0,1,-1,0
North Macedonia,C,1,0,1,3
North Macedonia,C,0,2,-2,0
Austria,C,2,0,2,3
Netherlands,C,4,1,3,3
Austria,C,1,4,-3,0
North Macedonia,C,4,5,-1,0
Netherlands,C,5,4,1,3
Scotland,D,5,1,4,3
Czech Republic,D,1,5,-4,0
Scotland,D,0,1,-1,0
England,D,1,0,1,3
England,D,4,0,4,3
Croatia,D,0,4,-4,0
Czech Republic,D,5,4,1,3
Croatia,D,4,5,-1,0
England,D,2,3,-1,0
Czech Republic,D,3,2,1,3
Scotland,D,0,5,-5,0
Croatia,D,5,0,5,3
Sweden,E,4,3,1,3
Poland,E,3,4,-1,0
Spain,E,1,2,-1,0
Slovakia,E,2,1,1,3
Spain,E,5,3,2,3
Poland,E,3,5,-2,0
Slovakia,E,3,1,2,3
Poland,E,1,3,-2,0
Sweden,E,5,3,2,3
Spain,E,3,5,-2,0
Sweden,E,4,0,4,3
Slovakia,E,0,4,-4,0
Germany,F,4,2,2,3
France,F,2,4,-2,0
Portugal,F,5,3,2,3
France,F,3,5,-2,0
Hungary,F,0,5,-5,0
Germany,F,5,0,5,3
Portugal,F,3,2,1,3
Hungary,F,2,3,-1,0
Portugal,F,5,0,5,3
Germany,F,0,5,-5,0
Hungary,F,3,3,0,0
France,F,3,3,0,1

### group stage points table:
#####Points are awarded for wins and draws, and teams are ranked within their groups based on points, goal difference, and other tie-breaking criteria

In [0]:
%sql
with group_stage as (with cte as (select concat (a.team_name , "  Vs ", b.team_name) as Match_fixture,
a.team_name as team1,
a.grp as team1_grp,
b.team_name as team2,
b.grp as team2_grp,
floor(rand() * 6) as team1_score,
floor(rand() * 6) as team2_score,
case when team1_score > team2_score then 3 when team1_score < team2_score then 0 else 0 end as team1_pts,
case when team2_score > team1_score then 3 when team2_score < team1_score then 0 else 1 end as team2_pts,
case when team1_score > team2_score then team1 when team1_score < team2_score then team2 else "draw" end as winner
from euro24 a cross join euro24 b where a.grp = b.grp and a.team_name > b.team_name


) 
(select team1,team1_grp as grp,team1_score as GF,team2_score as GA ,(GF - GA) As GD, team1_pts as points  from cte )
union all
(select team2,team2_grp as grp, team2_score as GF ,team1_score as GA ,(GF - GA) as GD,team2_pts from cte ) order by grp) 
select team1 as team ,grp,count(*) AS Match_played,sum(GF) as GF,sum(GA) as GA,Sum(GD) as GD,sum(points)  as points from group_stage group by team1 ,grp order by grp,points desc

team,grp,Match_played,GF,GA,GD,points
Switzerland,A,3,8,6,2,6
Italy,A,3,5,3,2,4
Wales,A,3,6,8,-2,3
Turkey,A,3,9,11,-2,3
Finland,B,3,8,4,4,6
Denmark,B,3,9,5,4,4
Russia,B,3,8,10,-2,3
Belgium,B,3,5,11,-6,1
Ukraine,C,3,6,4,2,6
North Macedonia,C,3,3,2,1,4
Netherlands,C,3,2,3,-1,3
Austria,C,3,5,7,-2,3
Croatia,D,3,7,4,3,5
Scotland,D,3,7,9,-2,3
Czech Republic,D,3,5,5,0,2
England,D,3,9,10,-1,0
Slovakia,E,3,7,5,2,6
Spain,E,3,7,9,-2,3
Sweden,E,3,6,3,3,3
Poland,E,3,7,10,-3,2
France,F,3,11,5,6,7
Portugal,F,3,5,9,-4,3
Hungary,F,3,11,11,0,3
Germany,F,3,9,11,-2,3

In [0]:
%sql
with cte2 as (with group_stage as (with cte as (select concat (a.team_name , "  Vs ", b.team_name) as Match_fixture,
a.team_name as team1,
a.grp as team1_grp,
b.team_name as team2,
b.grp as team2_grp,
floor(rand() * 6) as team1_score,
floor(rand() * 6) as team2_score,
case when team1_score > team2_score then 3 when team1_score < team2_score then 0 else 0 end as team1_pts,
case when team2_score > team1_score then 3 when team2_score < team1_score then 0 else 1 end as team2_pts,
case when team1_score > team2_score then team1 when team1_score < team2_score then team2 else "draw" end as winner
from euro24 a cross join euro24 b where a.grp = b.grp and a.team_name > b.team_name


) 
(select team1,team1_grp as grp,team1_score as GF,team2_score as GA ,(GF - GA) As GD, team1_pts as points  from cte )
union all
(select team2,team2_grp as grp, team2_score as GF ,team1_score as GA ,(GF - GA) as GD,team2_pts from cte ) order by grp) 
select team1 as team ,grp,count(*) AS Match_played,sum(GF) as GF,sum(GA) as GA,Sum(GD) as GD,sum(points)  as points from group_stage group by team1 ,grp order by grp,points desc)
select team,grp,Match_played,floor(points/3) as win,case when points%3 = 2 then 2 when points % 3 = 1 then 1 else 0 end as draw,
case when win + draw  = 3 then 0 when win + draw = 2 then 1 when win + draw = 1 then 2 else 3 end as loss,GF,GA,GD,points from cte2 order by grp,points desc

team,grp,Match_played,win,draw,loss,GF,GA,GD,points
Switzerland,A,3,2,0,1,4,3,1,6
Turkey,A,3,2,0,1,11,6,5,6
Wales,A,3,1,0,2,4,10,-6,3
Italy,A,3,1,0,2,6,6,0,3
Denmark,B,3,2,1,0,7,5,2,7
Russia,B,3,2,0,1,9,6,3,6
Belgium,B,3,1,0,2,6,7,-1,3
Finland,B,3,0,0,3,2,6,-4,0
Austria,C,3,2,1,0,12,7,5,7
Ukraine,C,3,2,0,1,12,9,3,6
North Macedonia,C,3,1,0,2,5,8,-3,3
Netherlands,C,3,0,0,3,6,11,-5,0
England,D,3,2,0,1,7,3,4,6
Czech Republic,D,3,2,0,1,10,7,3,6
Croatia,D,3,2,0,1,7,6,1,6
Scotland,D,3,0,0,3,4,12,-8,0
Sweden,E,3,2,0,1,8,4,4,6
Poland,E,3,1,1,1,9,9,0,4
Spain,E,3,1,0,2,4,4,0,3
Slovakia,E,3,1,0,2,4,8,-4,3
Germany,F,3,2,0,1,8,2,6,6
Portugal,F,3,1,0,2,9,11,-2,3
Hungary,F,3,1,0,2,6,6,0,3
France,F,3,0,2,1,8,12,-4,2

Round_16: top 2 teams from each group advance to the round of 16 and

In [0]:
%sql
with cte4 as (with cte3 as (with cte2 as (with group_stage as (with cte as (select concat (a.team_name , "  Vs ", b.team_name) as Match_fixture,
a.team_name as team1,
a.grp as team1_grp,
b.team_name as team2,
b.grp as team2_grp,
floor(rand() * 6) as team1_score,
floor(rand() * 6) as team2_score,
case when team1_score > team2_score then 3 when team1_score < team2_score then 0 else 0 end as team1_pts,
case when team2_score > team1_score then 3 when team2_score < team1_score then 0 else 1 end as team2_pts,
case when team1_score > team2_score then team1 when team1_score < team2_score then team2 else "draw" end as winner
from euro24 a cross join euro24 b where a.grp = b.grp and a.team_name > b.team_name


) 
(select team1,team1_grp as grp,team1_score as GF,team2_score as GA ,(GF - GA) As GD, team1_pts as points  from cte )
union all
(select team2,team2_grp as grp, team2_score as GF ,team1_score as GA ,(GF - GA) as GD,team2_pts from cte ) order by grp) 
select team1 as team ,grp,count(*) AS Match_played,sum(GF) as GF,sum(GA) as GA,Sum(GD) as GD,sum(points)  as points from group_stage group by team1 ,grp order by grp,points desc)
select team,grp,Match_played,floor(points/3) as win,case when points%3 = 2 then 2 when points % 3 = 1 then 1 else 0 end as draw,
case when win + draw  = 3 then 0 when win + draw = 2 then 1 when win + draw = 1 then 2 else 3 end as loss,GF,GA,GD,points from cte2 order by grp,points desc) select *,row_number() over(partition by grp order by points desc,GD desc, GF desc)  as rank from cte3 ) 
(select  * from cte4 where rank < 3)
union 
(select * from cte4 where rank = 3) order by rank,points desc,GD desc,GF desc  limit 16

team,grp,Match_played,win,draw,loss,GF,GA,GD,points,rank
England,D,3,2,1,0,9,2,7,7,1
Austria,C,3,2,1,0,8,5,3,7,1
Portugal,F,3,2,0,1,14,8,6,6,1
Turkey,A,3,2,0,1,14,11,3,6,1
Poland,E,3,1,2,0,7,6,1,5,1
Finland,B,3,1,1,1,12,9,3,4,1
Italy,A,3,1,1,1,9,6,3,4,2
Netherlands,C,3,1,1,1,8,6,2,4,2
Germany,F,3,1,1,1,10,9,1,4,2
Slovakia,E,3,1,1,1,10,9,1,4,2
Scotland,D,3,1,0,2,5,2,3,3,2
Russia,B,3,1,0,2,7,5,2,3,2
France,F,3,1,1,1,8,9,-1,4,3
Wales,A,3,1,0,2,8,10,-2,3,3
Ukraine,C,3,1,0,2,5,7,-2,3,3
Czech Republic,D,3,1,0,2,4,9,-5,3,3

In [0]:
%sql
with 3rd_team as (with cte4 as (with cte3 as (with cte2 as (with group_stage as (with cte as (select concat (a.team_name , "  Vs ", b.team_name) as Match_fixture,
a.team_name as team1,
a.grp as team1_grp,
b.team_name as team2,
b.grp as team2_grp,
floor(rand() * 6) as team1_score,
floor(rand() * 6) as team2_score,
case when team1_score > team2_score then 3 when team1_score < team2_score then 0 else 0 end as team1_pts,
case when team2_score > team1_score then 3 when team2_score < team1_score then 0 else 1 end as team2_pts,
case when team1_score > team2_score then team1 when team1_score < team2_score then team2 else "draw" end as winner
from euro24 a cross join euro24 b where a.grp = b.grp and a.team_name > b.team_name


) 
(select team1,team1_grp as grp,team1_score as GF,team2_score as GA ,(GF - GA) As GD, team1_pts as points  from cte )
union all
(select team2,team2_grp as grp, team2_score as GF ,team1_score as GA ,(GF - GA) as GD,team2_pts from cte ) order by grp) 
select team1 as team ,grp,count(*) AS Match_played,sum(GF) as GF,sum(GA) as GA,Sum(GD) as GD,sum(points)  as points from group_stage group by team1 ,grp order by grp,points desc)
select team,grp,Match_played,floor(points/3) as win,case when points%3 = 2 then 2 when points % 3 = 1 then 1 else 0 end as draw,
case when win + draw  = 3 then 0 when win + draw = 2 then 1 when win + draw = 1 then 2 else 3 end as loss,GF,GA,GD,points from cte2 order by grp,points desc) select *,row_number() over(partition by grp order by points desc,GD desc, GF desc)  as rank from cte3 ) 
(select  * from cte4 where rank < 3)
union 
(select * from cte4 where rank = 3) order by rank,points desc,GD desc,GF desc  limit 16) 
select team,grp,points from 3rd_team where rank = 3

team,grp,points
Slovakia,E,4
Hungary,F,3
Switzerland,A,3
Russia,B,3

In [0]:
%sql
with cte4 as (with cte3 as (with cte2 as (with group_stage as (with cte as (select concat (a.team_name , "  Vs ", b.team_name) as Match_fixture,
a.team_name as team1,
a.grp as team1_grp,
b.team_name as team2,
b.grp as team2_grp,
floor(rand() * 6) as team1_score,
floor(rand() * 6) as team2_score,
case when team1_score > team2_score then 3 when team1_score < team2_score then 0 else 0 end as team1_pts,
case when team2_score > team1_score then 3 when team2_score < team1_score then 0 else 1 end as team2_pts,
case when team1_score > team2_score then team1 when team1_score < team2_score then team2 else "draw" end as winner
from euro24 a cross join euro24 b where a.grp = b.grp and a.team_name > b.team_name


) 
(select team1,team1_grp as grp,team1_score as GF,team2_score as GA ,(GF - GA) As GD, team1_pts as points  from cte )
union all
(select team2,team2_grp as grp, team2_score as GF ,team1_score as GA ,(GF - GA) as GD,team2_pts from cte ) order by grp) 
select team1 as team ,grp,count(*) AS Match_played,sum(GF) as GF,sum(GA) as GA,Sum(GD) as GD,sum(points)  as points from group_stage group by team1 ,grp order by grp,points desc)
select team,grp,Match_played,floor(points/3) as win,case when points%3 = 2 then 2 when points % 3 = 1 then 1 else 0 end as draw,
case when win + draw  = 3 then 0 when win + draw = 2 then 1 when win + draw = 1 then 2 else 3 end as loss,GF,GA,GD,points from cte2 order by grp,points desc) select *,row_number() over(partition by grp order by points desc,GD desc, GF desc)  as rank from cte3 ) 
(select  * from cte4 where rank < 3)
union 
(select * from cte4 where rank = 3) order by rank,points desc,GD desc,GF desc  limit 16

team,grp,Match_played,win,draw,loss,GF,GA,GD,points,rank
Scotland,D,3,3,0,0,12,4,8,9,1
North Macedonia,C,3,2,1,0,10,2,8,7,1
France,F,3,2,1,0,13,8,5,7,1
Spain,E,3,2,1,0,10,6,4,7,1
Russia,B,3,2,0,1,8,2,6,6,1
Italy,A,3,1,1,1,13,9,4,4,1
Sweden,E,3,2,0,1,9,7,2,6,2
England,D,3,2,0,1,8,7,1,6,2
Germany,F,3,1,1,1,12,9,3,4,2
Netherlands,C,3,1,1,1,7,7,0,4,2
Switzerland,A,3,1,1,1,6,10,-4,4,2
Finland,B,3,1,0,2,8,7,1,3,2
Wales,A,3,1,0,2,7,5,2,3,3
Slovakia,E,3,1,0,2,11,10,1,3,3
Portugal,F,3,1,0,2,9,8,1,3,3
Croatia,D,3,1,0,2,4,6,-2,3,3

In [0]:
%sql
with cte4 as (with cte3 as (with cte2 as (with group_stage as (with cte as (select concat (a.team_name , "  Vs ", b.team_name) as Match_fixture,
a.team_name as team1,
a.grp as team1_grp,
b.team_name as team2,
b.grp as team2_grp,
floor(rand() * 6) as team1_score,
floor(rand() * 6) as team2_score,
case when team1_score > team2_score then 3 when team1_score < team2_score then 0 else 0 end as team1_pts,
case when team2_score > team1_score then 3 when team2_score < team1_score then 0 else 1 end as team2_pts,
case when team1_score > team2_score then team1 when team1_score < team2_score then team2 else "draw" end as winner
from euro24 a cross join euro24 b where a.grp = b.grp and a.team_name > b.team_name


) 
(select team1,team1_grp as grp,team1_score as GF,team2_score as GA ,(GF - GA) As GD, team1_pts as points  from cte )
union all
(select team2,team2_grp as grp, team2_score as GF ,team1_score as GA ,(GF - GA) as GD,team2_pts from cte ) order by grp) 
select team1 as team ,grp,count(*) AS Match_played,sum(GF) as GF,sum(GA) as GA,Sum(GD) as GD,sum(points)  as points from group_stage group by team1 ,grp order by grp,points desc)
select team,grp,Match_played,floor(points/3) as win,case when points%3 = 2 then 2 when points % 3 = 1 then 1 else 0 end as draw,
case when win + draw  = 3 then 0 when win + draw = 2 then 1 when win + draw = 1 then 2 else 3 end as loss,GF,GA,GD,points from cte2 order by grp,points desc) select *,row_number() over(partition by grp order by points desc,GD desc, GF desc)  as rank from cte3 ) 
(select  *,concat(grp,rank) as grp_rank from cte4 where rank < 3)
union 
(select * ,concat(grp,rank) as grp_rank from cte4 where rank = 3) order by rank,points desc,GD desc,GF desc  limit 16

team,grp,Match_played,win,draw,loss,GF,GA,GD,points,rank,grp_rank
Czech Republic,D,3,3,0,0,8,5,3,9,1,D1
France,F,3,2,1,0,9,1,8,7,1,F1
Poland,E,3,2,1,0,9,2,7,7,1,E1
Ukraine,C,3,2,0,1,10,4,6,6,1,C1
Denmark,B,3,2,0,1,12,10,2,6,1,B1
Turkey,A,3,2,0,1,8,7,1,6,1,A1
Netherlands,C,3,2,0,1,7,3,4,6,2,C2
Spain,E,3,2,0,1,5,3,2,6,2,E2
Italy,A,3,2,0,1,7,6,1,6,2,A2
Germany,F,3,1,1,1,8,7,1,4,2,F2
Belgium,B,3,1,1,1,8,9,-1,4,2,B2
Scotland,D,3,1,0,2,10,9,1,3,2,D2
Switzerland,A,3,1,0,2,6,4,2,3,3,A3
Finland,B,3,1,0,2,9,9,0,3,3,B3
Slovakia,E,3,1,0,2,4,7,-3,3,3,E3
Hungary,F,3,1,0,2,9,13,-4,3,3,F3

In [0]:
%sql
with cte5 as (with cte4 as (with cte3 as (with cte2 as (with group_stage as (with cte as (select concat (a.team_name , "  Vs ", b.team_name) as Match_fixture,
a.team_name as team1,
a.grp as team1_grp,
b.team_name as team2,
b.grp as team2_grp,
floor(rand() * 6) as team1_score,
floor(rand() * 6) as team2_score,
case when team1_score > team2_score then 3 when team1_score < team2_score then 0 else 0 end as team1_pts,
case when team2_score > team1_score then 3 when team2_score < team1_score then 0 else 1 end as team2_pts,
case when team1_score > team2_score then team1 when team1_score < team2_score then team2 else "draw" end as winner
from euro24 a cross join euro24 b where a.grp = b.grp and a.team_name > b.team_name


) 
(select team1,team1_grp as grp,team1_score as GF,team2_score as GA ,(GF - GA) As GD, team1_pts as points  from cte )
union all
(select team2,team2_grp as grp, team2_score as GF ,team1_score as GA ,(GF - GA) as GD,team2_pts from cte ) order by grp) 
select team1 as team ,grp,count(*) AS Match_played,sum(GF) as GF,sum(GA) as GA,Sum(GD) as GD,sum(points)  as points from group_stage group by team1 ,grp order by grp,points desc)
select team,grp,Match_played,floor(points/3) as win,case when points%3 = 2 then 2 when points % 3 = 1 then 1 else 0 end as draw,
case when win + draw  = 3 then 0 when win + draw = 2 then 1 when win + draw = 1 then 2 else 3 end as loss,GF,GA,GD,points from cte2 order by grp,points desc) select *,row_number() over(partition by grp order by points desc,GD desc, GF desc)  as rank from cte3 ) 
(select  *,concat(grp,rank) as grp_rank from cte4 where rank < 3)
union 
(select * ,concat(grp,rank) as grp_rank from cte4 where rank = 3) order by rank,points desc,GD desc,GF desc  limit 16)
select team,grp,rank,grp_rank from cte5

team,grp,rank,grp_rank
Belgium,B,1,B1
Germany,F,1,F1
North Macedonia,C,1,C1
Croatia,D,1,D1
Italy,A,1,A1
Spain,E,1,E1
Czech Republic,D,2,D2
Portugal,F,2,F2
Switzerland,A,2,A2
Poland,E,2,E2
Ukraine,C,2,C2
Russia,B,2,B2
Wales,A,3,A3
Sweden,E,3,E3
Scotland,D,3,D3
Hungary,F,3,F3

In [0]:
%sql
with cte5 as (with cte4 as (with cte3 as (with cte2 as (with group_stage as (with cte as (select concat (a.team_name , "  Vs ", b.team_name) as Match_fixture,
a.team_name as team1,
a.grp as team1_grp,
b.team_name as team2,
b.grp as team2_grp,
floor(rand() * 6) as team1_score,
floor(rand() * 6) as team2_score,
case when team1_score > team2_score then 3 when team1_score < team2_score then 0 else 0 end as team1_pts,
case when team2_score > team1_score then 3 when team2_score < team1_score then 0 else 1 end as team2_pts,
case when team1_score > team2_score then team1 when team1_score < team2_score then team2 else "draw" end as winner
from euro24 a cross join euro24 b where a.grp = b.grp and a.team_name > b.team_name


) 
(select team1,team1_grp as grp,team1_score as GF,team2_score as GA ,(GF - GA) As GD, team1_pts as points  from cte )
union all
(select team2,team2_grp as grp, team2_score as GF ,team1_score as GA ,(GF - GA) as GD,team2_pts from cte ) order by grp) 
select team1 as team ,grp,count(*) AS Match_played,sum(GF) as GF,sum(GA) as GA,Sum(GD) as GD,sum(points)  as points from group_stage group by team1 ,grp order by grp,points desc)
select team,grp,Match_played,floor(points/3) as win,case when points%3 = 2 then 2 when points % 3 = 1 then 1 else 0 end as draw,
case when win + draw  = 3 then 0 when win + draw = 2 then 1 when win + draw = 1 then 2 else 3 end as loss,GF,GA,GD,points from cte2 order by grp,points desc) select *,row_number() over(partition by grp order by points desc,GD desc, GF desc)  as rank from cte3 ) 
(select  *,concat(grp,rank) as grp_rank from cte4 where rank < 3)
union 
(select * ,concat(grp,rank) as grp_rank from cte4 where rank = 3) order by rank,points desc,GD desc,GF desc  limit 16)
select team,grp,rank,grp_rank from cte5 order by grp

team,grp,rank,grp_rank
Turkey,A,1,A1
Italy,A,2,A2
Switzerland,A,3,A3
Belgium,B,1,B1
Russia,B,2,B2
Austria,C,1,C1
North Macedonia,C,2,C2
Netherlands,C,3,C3
Croatia,D,1,D1
England,D,2,D2
Czech Republic,D,3,D3
Poland,E,1,E1
Spain,E,2,E2
Slovakia,E,3,E3
Germany,F,1,F1
Portugal,F,2,F2

In [0]:
%sql
create table round_0016 as (
with cte5 as (with cte4 as (with cte3 as (with cte2 as (with group_stage as (with cte as (select concat (a.team_name , "  Vs ", b.team_name) as Match_fixture,
a.team_name as team1,
a.grp as team1_grp,
b.team_name as team2,
b.grp as team2_grp,
floor(rand() * 6) as team1_score,
floor(rand() * 6) as team2_score,
case when team1_score > team2_score then 3 when team1_score < team2_score then 0 else 0 end as team1_pts,
case when team2_score > team1_score then 3 when team2_score < team1_score then 0 else 1 end as team2_pts,
case when team1_score > team2_score then team1 when team1_score < team2_score then team2 else "draw" end as winner
from euro24 a cross join euro24 b where a.grp = b.grp and a.team_name > b.team_name


) 
(select team1,team1_grp as grp,team1_score as GF,team2_score as GA ,(GF - GA) As GD, team1_pts as points  from cte )
union all
(select team2,team2_grp as grp, team2_score as GF ,team1_score as GA ,(GF - GA) as GD,team2_pts from cte ) order by grp) 
select team1 as team ,grp,count(*) AS Match_played,sum(GF) as GF,sum(GA) as GA,Sum(GD) as GD,sum(points)  as points from group_stage group by team1 ,grp order by grp,points desc)
select team,grp,Match_played,floor(points/3) as win,case when points%3 = 2 then 2 when points % 3 = 1 then 1 else 0 end as draw,
case when win + draw  = 3 then 0 when win + draw = 2 then 1 when win + draw = 1 then 2 else 3 end as loss,GF,GA,GD,points from cte2 order by grp,points desc) select *,row_number() over(partition by grp order by points desc,GD desc, GF desc)  as rank from cte3 ) 
(select  *,concat(grp,rank) as grp_rank from cte4 where rank < 3)
union 
(select * ,concat(grp,rank) as grp_rank from cte4 where rank = 3) order by rank,points desc,GD desc,GF desc  limit 16)
select team,grp,rank,grp_rank from cte5  order by grp)

In [0]:
%sql
select * from round_0016

team,grp,rank,grp_rank
Italy,A,1,A1
Wales,A,2,A2
Denmark,B,1,B1
Belgium,B,2,B2
North Macedonia,C,1,C1
Ukraine,C,2,C2
North Macedonia,C,3,C3
Czech Republic,D,1,D1
England,D,2,D2
Scotland,D,3,D3
Poland,E,1,E1
Sweden,E,2,E2
Slovakia,E,3,E3
Hungary,F,1,F1
France,F,2,F2
Hungary,F,3,F3

In [0]:
%sql

SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_016 WHERE rank = 3) IN ('ABDF', 'ABDE') THEN grp_rank ='D3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACEF', 'ADEF', 'BCDE') THEN grp_rank ='E3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_016 WHERE rank = 3) IN ('ACDF', 'BCDF', 'BCEF', 'BDEF', 'CDEF') THEN grp_rank ='F3'
       END

team,grp_rank
Scotland,D3

In [0]:
%sql
SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'B1'

UNION 

SELECT team, grp_rank FROM round_0016
WHERE 
    CASE 
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF') THEN grp_rank = 'A3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE') THEN grp_rank = 'D3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACEF', 'ADEF', 'BCDE') THEN grp_rank = 'E3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDF', 'BCDF', 'BCEF', 'BDEF', 'CDEF') THEN grp_rank = 'F3'
        ELSE FALSE -- Default value in case none of the conditions match
    END
    UNION
SELECT team, grp_rank FROM round_0016
WHERE grp_rank = 'A1'
UNION 
SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'C2'
union 
select team,grp_rank from round_0016 where grp_rank  = "F1"
UNION All
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACDE','ACEF','ADEF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE','BCDF','BCEF','BDEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF', 'BCDE', 'CDEF') THEN grp_rank ='C3'
           
       END 
UNION  all
SELECT team,grp_rank from round_0016 where grp_rank = 'D2'
UNION ALL
SELECT team,grp_rank from round_0016 where grp_rank = 'E2'
union all
SELECT team,grp_rank from round_0016 where grp_rank = 'E1'
union all


      SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDE','ABDF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ABCF','ABCE','BCDF','BCEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDE','ACDF','ACEF','BCDE','BCEF') THEN grp_rank ='C3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ADEF','BDEF','CDEF') THEN grp_rank = 'D3'
           END
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'D1'
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'F2'

UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'C1'
UNION ALL 
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ACDE','ACDF','BCDE','BCDF') THEN grp_rank = 'D3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCE','ABCF','ABDE','BCEF','BDEF','CDEF') THEN grp_rank ='E3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCF','ABDF','ABEF','ACEF','ADEF') THEN grp_rank ='F3'
           
       END 
UNION ALL
select team,grp_rank from round_0016 where grp_rank = 'A2'
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'B2'

team,grp_rank
Denmark,B1
Hungary,F3
Italy,A1
Ukraine,C2
Hungary,F1
North Macedonia,C3
England,D2
Sweden,E2
Poland,E1
Scotland,D3
Czech Republic,D1
France,F2
North Macedonia,C1
Slovakia,E3
Wales,A2
Belgium,B2

In [0]:
%sql
0

team,grp_rank
Finland,B1
Portugal,F1
Ukraine,C2
Czech Republic,D2
Scotland,D1
Hungary,F3
Poland,E2
Scotland,D3
Slovakia,E1
France,F2
Russia,B2
Finland,B3
Italy,A2
Italy,A3
Wales,A1
Austria,C1

In [0]:
%sql
SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'B1'

UNION 

SELECT team, grp_rank FROM round_0016
WHERE 
    CASE 
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF') THEN grp_rank = 'A3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE') THEN grp_rank = 'D3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACEF', 'ADEF', 'BCDE') THEN grp_rank = 'E3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDF', 'BCDF', 'BCEF', 'BDEF', 'CDEF') THEN grp_rank = 'F3'
        ELSE FALSE -- Default value in case none of the conditions match
    END
    UNION
SELECT team, grp_rank FROM round_0016
WHERE grp_rank = 'A1'
UNION 
SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'C2'
union 
select team,grp_rank from round_0016 where grp_rank  = "F1"
UNION All
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACDE','ACEF','ADEF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE','BCDF','BCEF','BDEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF', 'BCDE', 'CDEF') THEN grp_rank ='C3'
           
       END 
UNION  all
SELECT team,grp_rank from round_0016 where grp_rank = 'D2'
UNION ALL
SELECT team,grp_rank from round_0016 where grp_rank = 'E2'
union all
SELECT team,grp_rank from round_0016 where grp_rank = 'E1'
union all


      SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDE','ABDF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ABCF','ABCE','BCDF','BCEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDE','ACDF','ACEF','BCDE','BCEF') THEN grp_rank ='C3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ADEF','BDEF','CDEF') THEN grp_rank = 'D3'
           END
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'D1'
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'F2'

UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'C1'
UNION ALL 
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ACDE','ACDF','BCDE','BCDF') THEN grp_rank = 'D3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCE','ABCF','ABDE','BCEF','BDEF','CDEF') THEN grp_rank ='E3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCF','ABDF','ABEF','ACEF','ADEF') THEN grp_rank ='F3'
           
       END 
UNION ALL
select team,grp_rank from round_0016 where grp_rank = 'A2'
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'B2'

team,grp_rank
Denmark,B1
Hungary,F3
Italy,A1
Ukraine,C2
Hungary,F1
North Macedonia,C3
England,D2
Sweden,E2
Poland,E1
Scotland,D3
Czech Republic,D1
France,F2
North Macedonia,C1
Slovakia,E3
Wales,A2
Belgium,B2

In [0]:
%sql
with cte4 as ( with cte3 as (with cte2 as (with cte1 as (SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'B1'

UNION 

SELECT team, grp_rank FROM round_0016
WHERE 
    CASE 
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF') THEN grp_rank = 'A3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE') THEN grp_rank = 'D3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACEF', 'ADEF', 'BCDE') THEN grp_rank = 'E3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDF', 'BCDF', 'BCEF', 'BDEF', 'CDEF') THEN grp_rank = 'F3'
        ELSE FALSE -- Default value in case none of the conditions match
    END
    UNION
SELECT team, grp_rank FROM round_0016
WHERE grp_rank = 'A1'
UNION 
SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'C2'
union 
select team,grp_rank from round_0016 where grp_rank  = "F1"
UNION All
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACDE','ACEF','ADEF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE','BCDF','BCEF','BDEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF', 'BCDE', 'CDEF') THEN grp_rank ='C3'
           
       END 
UNION  all
SELECT team,grp_rank from round_0016 where grp_rank = 'D2'
UNION ALL
SELECT team,grp_rank from round_0016 where grp_rank = 'E2'
union all
SELECT team,grp_rank from round_0016 where grp_rank = 'E1'
union all


      SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDE','ABDF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ABCF','ABCE','BCDF','BCEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDE','ACDF','ACEF','BCDE','BCEF') THEN grp_rank ='C3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ADEF','BDEF','CDEF') THEN grp_rank = 'D3'
           END
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'D1'
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'F2'

UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'C1'
UNION ALL 
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ACDE','ACDF','BCDE','BCDF') THEN grp_rank = 'D3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCE','ABCF','ABDE','BCEF','BDEF','CDEF') THEN grp_rank ='E3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCF','ABDF','ABEF','ACEF','ADEF') THEN grp_rank ='F3'
           
       END 
UNION ALL
select team,grp_rank from round_0016 where grp_rank = 'A2'
UNION ALL 

select team,grp_rank from round_0016 where grp_rank = 'B2')
select team,grp_rank,ntile(8) over(order by (select 0)) as match_id from cte1)
select t1.match_id ,t1.team as team1,t2.team as team2 from cte2 t1 join cte2 t2 on t1.match_id = t2.match_id where t1.team > t2.team)
select match_id,team1,floor(rand() * 2) as team1_score,team2,case when team1_score = 0 then 1 when team1_score = 1 then 0 end  as team2_score,case when team1_score > team2_score then team1 when team2_score > team1_score then team2 end as winner from cte3)
select winner as team,ntile(4) over(order by (select 0)) as quater_finals from cte4

team,quater_finals
Denmark,1
Ukraine,1
North Macedonia,2
England,2
Scotland,3
France,3
Slovakia,4
Belgium,4

In [0]:
%sql
with cte5 as (with cte4 as ( with cte3 as (with cte2 as (with cte1 as (SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'B1'

UNION 

SELECT team, grp_rank FROM round_0016
WHERE 
    CASE 
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF') THEN grp_rank = 'A3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE') THEN grp_rank = 'D3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACEF', 'ADEF', 'BCDE') THEN grp_rank = 'E3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDF', 'BCDF', 'BCEF', 'BDEF', 'CDEF') THEN grp_rank = 'F3'
        ELSE FALSE -- Default value in case none of the conditions match
    END
    UNION
SELECT team, grp_rank FROM round_0016
WHERE grp_rank = 'A1'
UNION 
SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'C2'
union 
select team,grp_rank from round_0016 where grp_rank  = "F1"
UNION All
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACDE','ACEF','ADEF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE','BCDF','BCEF','BDEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF', 'BCDE', 'CDEF') THEN grp_rank ='C3'
           
       END 
UNION  all
SELECT team,grp_rank from round_0016 where grp_rank = 'D2'
UNION ALL
SELECT team,grp_rank from round_0016 where grp_rank = 'E2'
union all
SELECT team,grp_rank from round_0016 where grp_rank = 'E1'
union all


      SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDE','ABDF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ABCF','ABCE','BCDF','BCEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDE','ACDF','ACEF','BCDE','BCEF') THEN grp_rank ='C3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ADEF','BDEF','CDEF') THEN grp_rank = 'D3'
           END
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'D1'
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'F2'

UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'C1'
UNION ALL 
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ACDE','ACDF','BCDE','BCDF') THEN grp_rank = 'D3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCE','ABCF','ABDE','BCEF','BDEF','CDEF') THEN grp_rank ='E3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCF','ABDF','ABEF','ACEF','ADEF') THEN grp_rank ='F3'
           
       END 
UNION ALL
select team,grp_rank from round_0016 where grp_rank = 'A2'
UNION ALL 

select team,grp_rank from round_0016 where grp_rank = 'B2')
select team,grp_rank,ntile(8) over(order by (select 0)) as match_id from cte1)
select t1.match_id ,t1.team as team1,t2.team as team2 from cte2 t1 join cte2 t2 on t1.match_id = t2.match_id where t1.team > t2.team)
select match_id,team1,floor(rand() * 2) as team1_score,team2,case when team1_score = 0 then 1 when team1_score = 1 then 0 end  as team2_score,case when team1_score > team2_score then team1 when team2_score > team1_score then team2 end as winner from cte3)
select winner as team,ntile(4) over(order by (select 0)) as quater_final from cte4)

select c1.quater_final,c1.team as team1,c2.team as team2 ,floor(rand() * 2) as team1_score ,case when team1_score = 0 then 1 when team1_score = 1 then 0 end as team2_score,
case when team1_score < team2_score then team2 when team1_score > team2_score then team1 end as winner from  cte5 c1 join cte5 c2 on c1.quater_final = c2.quater_final where c1.team < c2.team

quater_final,team1,team2,team1_score,team2_score,winner
4,Belgium,Slovakia,1,0,Belgium
2,North Macedonia,Sweden,1,0,North Macedonia
1,Hungary,Ukraine,0,1,Ukraine
3,France,Poland,0,1,Poland

In [0]:
%sql
with cte6 as (with cte5 as (with cte4 as ( with cte3 as (with cte2 as (with cte1 as (SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'B1'

UNION 

SELECT team, grp_rank FROM round_0016
WHERE 
    CASE 
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF') THEN grp_rank = 'A3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE') THEN grp_rank = 'D3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACEF', 'ADEF', 'BCDE') THEN grp_rank = 'E3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDF', 'BCDF', 'BCEF', 'BDEF', 'CDEF') THEN grp_rank = 'F3'
        ELSE FALSE -- Default value in case none of the conditions match
    END
    UNION
SELECT team, grp_rank FROM round_0016
WHERE grp_rank = 'A1'
UNION 
SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'C2'
union 
select team,grp_rank from round_0016 where grp_rank  = "F1"
UNION All
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACDE','ACEF','ADEF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE','BCDF','BCEF','BDEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF', 'BCDE', 'CDEF') THEN grp_rank ='C3'
           
       END 
UNION  all
SELECT team,grp_rank from round_0016 where grp_rank = 'D2'
UNION ALL
SELECT team,grp_rank from round_0016 where grp_rank = 'E2'
union all
SELECT team,grp_rank from round_0016 where grp_rank = 'E1'
union all


      SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDE','ABDF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ABCF','ABCE','BCDF','BCEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDE','ACDF','ACEF','BCDE','BCEF') THEN grp_rank ='C3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ADEF','BDEF','CDEF') THEN grp_rank = 'D3'
           END
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'D1'
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'F2'

UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'C1'
UNION ALL 
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ACDE','ACDF','BCDE','BCDF') THEN grp_rank = 'D3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCE','ABCF','ABDE','BCEF','BDEF','CDEF') THEN grp_rank ='E3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCF','ABDF','ABEF','ACEF','ADEF') THEN grp_rank ='F3'
           
       END 
UNION ALL
select team,grp_rank from round_0016 where grp_rank = 'A2'
UNION ALL 

select team,grp_rank from round_0016 where grp_rank = 'B2')
select team,grp_rank,ntile(8) over(order by (select 0)) as match_id from cte1)
select t1.match_id ,t1.team as team1,t2.team as team2 from cte2 t1 join cte2 t2 on t1.match_id = t2.match_id where t1.team > t2.team)
select match_id,team1,floor(rand() * 2) as team1_score,team2,case when team1_score = 0 then 1 when team1_score = 1 then 0 end  as team2_score,case when team1_score > team2_score then team1 when team2_score > team1_score then team2 end as winner from cte3)
select winner as team,ntile(4) over(order by (select 0)) as quater_final from cte4)

select c1.quater_final,c1.team as team1,c2.team as team2 ,floor(rand() * 2) as team1_score ,case when team1_score = 0 then 1 when team1_score = 1 then 0 end as team2_score,
case when team1_score < team2_score then team2 when team1_score > team2_score then team1 end as winner from  cte5 c1 join cte5 c2 on c1.quater_final = c2.quater_final where c1.team < c2.team)
select winner as team,ntile(2) over(order by (select 0)) as semi_final from cte6

team,semi_final
Hungary,1
Italy,1
North Macedonia,2
Poland,2

In [0]:
%sql
with cte7 as (with cte6 as (with cte5 as (with cte4 as ( with cte3 as (with cte2 as (with cte1 as (SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'B1'

UNION 

SELECT team, grp_rank FROM round_0016
WHERE 
    CASE 
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF') THEN grp_rank = 'A3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE') THEN grp_rank = 'D3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACEF', 'ADEF', 'BCDE') THEN grp_rank = 'E3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDF', 'BCDF', 'BCEF', 'BDEF', 'CDEF') THEN grp_rank = 'F3'
        ELSE FALSE -- Default value in case none of the conditions match
    END
    UNION
SELECT team, grp_rank FROM round_0016
WHERE grp_rank = 'A1'
UNION 
SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'C2'
union 
select team,grp_rank from round_0016 where grp_rank  = "F1"
UNION All
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACDE','ACEF','ADEF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE','BCDF','BCEF','BDEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF', 'BCDE', 'CDEF') THEN grp_rank ='C3'
           
       END 
UNION  all
SELECT team,grp_rank from round_0016 where grp_rank = 'D2'
UNION ALL
SELECT team,grp_rank from round_0016 where grp_rank = 'E2'
union all
SELECT team,grp_rank from round_0016 where grp_rank = 'E1'
union all


      SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDE','ABDF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ABCF','ABCE','BCDF','BCEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDE','ACDF','ACEF','BCDE','BCEF') THEN grp_rank ='C3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ADEF','BDEF','CDEF') THEN grp_rank = 'D3'
           END
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'D1'
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'F2'

UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'C1'
UNION ALL 
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ACDE','ACDF','BCDE','BCDF') THEN grp_rank = 'D3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCE','ABCF','ABDE','BCEF','BDEF','CDEF') THEN grp_rank ='E3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCF','ABDF','ABEF','ACEF','ADEF') THEN grp_rank ='F3'
           
       END 
UNION ALL
select team,grp_rank from round_0016 where grp_rank = 'A2'
UNION ALL 

select team,grp_rank from round_0016 where grp_rank = 'B2')
select team,grp_rank,ntile(8) over(order by (select 0)) as match_id from cte1)
select t1.match_id ,t1.team as team1,t2.team as team2 from cte2 t1 join cte2 t2 on t1.match_id = t2.match_id where t1.team > t2.team)
select match_id,team1,floor(rand() * 2) as team1_score,team2,case when team1_score = 0 then 1 when team1_score = 1 then 0 end  as team2_score,case when team1_score > team2_score then team1 when team2_score > team1_score then team2 end as winner from cte3)
select winner as team,ntile(4) over(order by (select 0)) as quater_final from cte4)

select c1.quater_final,c1.team as team1,c2.team as team2 ,floor(rand() * 2) as team1_score ,case when team1_score = 0 then 1 when team1_score = 1 then 0 end as team2_score,
case when team1_score < team2_score then team2 when team1_score > team2_score then team1 end as winner from  cte5 c1 join cte5 c2 on c1.quater_final = c2.quater_final where c1.team < c2.team)
select winner as team,ntile(2) over(order by (select 0)) as semi_final from cte6)
select a1.semi_final,a1.team as team1,a2.team as team2,floor(rand() * 2) as team1_score ,case when team1_score = 0 then 1 when team1_score = 1 then 0 end as team2_score,
case when team1_score < team2_score then team2 when team1_score > team2_score then team1 end as winner from cte7 a1 join cte7 a2 on a1.semi_final = a2.semi_final where 
a1.team < a2.team

semi_final,team1,team2,team1_score,team2_score,winner
1,North Macedonia,Wales,1,0,North Macedonia
2,Italy,Poland,1,0,Italy

In [0]:
%sql
with cte8 as (with cte7 as (with cte6 as (with cte5 as (with cte4 as ( with cte3 as (with cte2 as (with cte1 as (SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'B1'

UNION 

SELECT team, grp_rank FROM round_0016
WHERE 
    CASE 
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF') THEN grp_rank = 'A3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE') THEN grp_rank = 'D3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACEF', 'ADEF', 'BCDE') THEN grp_rank = 'E3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDF', 'BCDF', 'BCEF', 'BDEF', 'CDEF') THEN grp_rank = 'F3'
        ELSE FALSE -- Default value in case none of the conditions match
    END
    UNION
SELECT team, grp_rank FROM round_0016
WHERE grp_rank = 'A1'
UNION 
SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'C2'
union 
select team,grp_rank from round_0016 where grp_rank  = "F1"
UNION All
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACDE','ACEF','ADEF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE','BCDF','BCEF','BDEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF', 'BCDE', 'CDEF') THEN grp_rank ='C3'
           
       END 
UNION  all
SELECT team,grp_rank from round_0016 where grp_rank = 'D2'
UNION ALL
SELECT team,grp_rank from round_0016 where grp_rank = 'E2'
union all
SELECT team,grp_rank from round_0016 where grp_rank = 'E1'
union all


      SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDE','ABDF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ABCF','ABCE','BCDF','BCEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDE','ACDF','ACEF','BCDE','BCEF') THEN grp_rank ='C3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ADEF','BDEF','CDEF') THEN grp_rank = 'D3'
           END
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'D1'
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'F2'

UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'C1'
UNION ALL 
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ACDE','ACDF','BCDE','BCDF') THEN grp_rank = 'D3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCE','ABCF','ABDE','BCEF','BDEF','CDEF') THEN grp_rank ='E3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCF','ABDF','ABEF','ACEF','ADEF') THEN grp_rank ='F3'
           
       END 
UNION ALL
select team,grp_rank from round_0016 where grp_rank = 'A2'
UNION ALL 

select team,grp_rank from round_0016 where grp_rank = 'B2')
select team,grp_rank,ntile(8) over(order by (select 0)) as match_id from cte1)
select t1.match_id ,t1.team as team1,t2.team as team2 from cte2 t1 join cte2 t2 on t1.match_id = t2.match_id where t1.team > t2.team)
select match_id,team1,floor(rand() * 2) as team1_score,team2,case when team1_score = 0 then 1 when team1_score = 1 then 0 end  as team2_score,case when team1_score > team2_score then team1 when team2_score > team1_score then team2 end as winner from cte3)
select winner as team,ntile(4) over(order by (select 0)) as quater_final from cte4)

select c1.quater_final,c1.team as team1,c2.team as team2 ,floor(rand() * 2) as team1_score ,case when team1_score = 0 then 1 when team1_score = 1 then 0 end as team2_score,
case when team1_score < team2_score then team2 when team1_score > team2_score then team1 end as winner from  cte5 c1 join cte5 c2 on c1.quater_final = c2.quater_final where c1.team < c2.team)
select winner as team,ntile(2) over(order by (select 0)) as semi_final from cte6)
select a1.semi_final,a1.team as team1,a2.team as team2,floor(rand() * 2) as team1_score ,case when team1_score = 0 then 1 when team1_score = 1 then 0 end as team2_score,
case when team1_score < team2_score then team2 when team1_score > team2_score then team1 end as winner from cte7 a1 join cte7 a2 on a1.semi_final = a2.semi_final where 
a1.team < a2.team)
select winner as team,ntile(1) over(order by (select 0)) as finalists from cte8

team,finalists
Sweden,1
Belgium,1

In [0]:
%sql
with cte9 as (with cte8 as (with cte7 as (with cte6 as (with cte5 as (with cte4 as ( with cte3 as (with cte2 as (with cte1 as (SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'B1'

UNION 

SELECT team, grp_rank FROM round_0016
WHERE 
    CASE 
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF') THEN grp_rank = 'A3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE') THEN grp_rank = 'D3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACEF', 'ADEF', 'BCDE') THEN grp_rank = 'E3'
        WHEN (SELECT CONCAT_WS('', COLLECT_LIST(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDF', 'BCDF', 'BCEF', 'BDEF', 'CDEF') THEN grp_rank = 'F3'
        ELSE FALSE -- Default value in case none of the conditions match
    END
    UNION
SELECT team, grp_rank FROM round_0016
WHERE grp_rank = 'A1'
UNION 
SELECT team, grp_rank
FROM round_0016
WHERE grp_rank = 'C2'
union 
select team,grp_rank from round_0016 where grp_rank  = "F1"
UNION All
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABEF', 'ACDE', 'ACDE','ACEF','ADEF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDF', 'ABDE','BCDF','BCEF','BDEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD', 'ABCE', 'ABCF', 'BCDE', 'CDEF') THEN grp_rank ='C3'
           
       END 
UNION  all
SELECT team,grp_rank from round_0016 where grp_rank = 'D2'
UNION ALL
SELECT team,grp_rank from round_0016 where grp_rank = 'E2'
union all
SELECT team,grp_rank from round_0016 where grp_rank = 'E1'
union all


      SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABDE','ABDF') THEN grp_rank = 'A3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ABCF','ABCE','BCDF','BCEF') THEN grp_rank ='B3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ACDE','ACDF','ACEF','BCDE','BCEF') THEN grp_rank ='C3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ADEF','BDEF','CDEF') THEN grp_rank = 'D3'
           END
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'D1'
UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'F2'

UNION ALL 
select team,grp_rank from round_0016 where grp_rank = 'C1'
UNION ALL 
SELECT team,grp_rank FROM round_0016 where 
       CASE 
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCD','ACDE','ACDF','BCDE','BCDF') THEN grp_rank = 'D3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCE','ABCF','ABDE','BCEF','BDEF','CDEF') THEN grp_rank ='E3'
           WHEN (SELECT concat_ws('', collect_list(grp)) FROM round_0016 WHERE rank = 3) IN ('ABCF','ABDF','ABEF','ACEF','ADEF') THEN grp_rank ='F3'
           
       END 
UNION ALL
select team,grp_rank from round_0016 where grp_rank = 'A2'
UNION ALL 

select team,grp_rank from round_0016 where grp_rank = 'B2')
select team,grp_rank,ntile(8) over(order by (select 0)) as match_id from cte1)
select t1.match_id ,t1.team as team1,t2.team as team2 from cte2 t1 join cte2 t2 on t1.match_id = t2.match_id where t1.team > t2.team)
select match_id,team1,floor(rand() * 2) as team1_score,team2,case when team1_score = 0 then 1 when team1_score = 1 then 0 end  as team2_score,case when team1_score > team2_score then team1 when team2_score > team1_score then team2 end as winner from cte3)
select winner as team,ntile(4) over(order by (select 0)) as quater_final from cte4)

select c1.quater_final,c1.team as team1,c2.team as team2 ,floor(rand() * 2) as team1_score ,case when team1_score = 0 then 1 when team1_score = 1 then 0 end as team2_score,
case when team1_score < team2_score then team2 when team1_score > team2_score then team1 end as winner from  cte5 c1 join cte5 c2 on c1.quater_final = c2.quater_final where c1.team < c2.team)
select winner as team,ntile(2) over(order by (select 0)) as semi_final from cte6)
select a1.semi_final,a1.team as team1,a2.team as team2,floor(rand() * 2) as team1_score ,case when team1_score = 0 then 1 when team1_score = 1 then 0 end as team2_score,
case when team1_score < team2_score then team2 when team1_score > team2_score then team1 end as winner from cte7 a1 join cte7 a2 on a1.semi_final = a2.semi_final where 
a1.team < a2.team)
select winner as team,ntile(1) over(order by (select 0)) as finalists from cte8)
select b1.finalists, b1.team as team1 ,b2.team as team2,floor(rand() * 2) as team1_score ,case when team1_score = 0 then 1 when team1_score = 1 then 0 end as team2_score,
case when team1_score < team2_score then team2 when team1_score > team2_score then team1 end as winner from cte9 b1 join cte9 b2 on b1.finalists = b2.finalists where b1.team < b2.team

finalists,team1,team2,team1_score,team2_score,winner
1,Ukraine,Wales,1,0,Ukraine