In [0]:
%sql

CREATE TABLE attempt2(
  id_no BIGINT,
  first_name VARCHAR(255),
  last_Name VARCHAR(255),
  address VARCHAR(255),
  phone_number BIGINT,
  department VARCHAR(255),
  joined_date DATE
)

In [0]:
%sql

INSERT INTO attempt2 (id_no, first_name, last_name, address, phone_number, department, joined_date)
VALUES
  (1, 'John', 'Doe', '123 Main St', 1234567890, 'HR', '2024-01-25'),
  (2, 'Jane', 'Smith', '456 Oak St', 9876543210, 'IT', '2024-01-26'),
  (3, 'Bob', 'Johnson', '789 Pine St', 5551234567, 'Finance', '2024-01-27'),
  (4, 'Alice', 'Williams', '321 Birch St', 5559876543, 'Marketing', '2024-01-28'),
  (5, 'Charlie', 'Brown', '654 Maple St', 5555555555, 'Sales', '2024-01-29'),
  (6, 'Eva', 'Miller', '987 Cedar St', 5551112233, 'Engineering', '2024-02-02'),
  (7, 'David', 'Jones', '234 Pine St', 5553334444, 'HR', '2024-02-03'),
  (8, 'Grace', 'Clark', '567 Oak St', 5556667777, 'IT', '2024-02-04'),
  (9, 'Sam', 'White', '890 Elm St', 5559990000, 'Marketing', '2024-02-05'),
  (10, 'Lily', 'Brown', '123 Birch St', 5554445555, 'Engineering', '2024-02-06'),
  (11, 'Mike', 'Smith', '456 Cedar St', 5557778888, 'Sales', '2024-02-07'),
  (12, 'Olivia', 'Miller', '789 Maple St', 5552223333, 'Finance', '2024-02-08'),
  (13, 'Daniel', 'Clark', '987 Elm St', 5551110000, 'IT', '2024-02-09'),
  (14, 'Sophia', 'Jones', '345 Pine St', 5556669999, 'Engineering', '2024-02-10'),
  (15, 'Henry', 'Wilson', '678 Oak St', 5553332222, 'Marketing', '2024-02-11');

num_affected_rows,num_inserted_rows
15,15

In [0]:
%sql

SELECT * FROM attempt2;

id_no,first_name,last_Name,address,phone_number,department,joined_date
1,John,Doe,123 Main St,1234567890,HR,2024-01-25
2,Jane,Smith,456 Oak St,9876543210,IT,2024-01-26
3,Bob,Johnson,789 Pine St,5551234567,Finance,2024-01-27
4,Alice,Williams,321 Birch St,5559876543,Marketing,2024-01-28
5,Charlie,Brown,654 Maple St,5555555555,Sales,2024-01-29
6,Eva,Miller,987 Cedar St,5551112233,Engineering,2024-02-02
7,David,Jones,234 Pine St,5553334444,HR,2024-02-03
8,Grace,Clark,567 Oak St,5556667777,IT,2024-02-04
9,Sam,White,890 Elm St,5559990000,Marketing,2024-02-05
10,Lily,Brown,123 Birch St,5554445555,Engineering,2024-02-06
11,Mike,Smith,456 Cedar St,5557778888,Sales,2024-02-07
12,Olivia,Miller,789 Maple St,5552223333,Finance,2024-02-08
13,Daniel,Clark,987 Elm St,5551110000,IT,2024-02-09
14,Sophia,Jones,345 Pine St,5556669999,Engineering,2024-02-10
15,Henry,Wilson,678 Oak St,5553332222,Marketing,2024-02-11

In [0]:
%sql

UPDATE attempt2
SET department = 'People Ops'
WHERE department = 'HR';


SELECT * FROM attempt2;

id_no,first_name,last_Name,address,phone_number,department,joined_date
1,John,Doe,123 Main St,1234567890,People Ops,2024-01-25
2,Jane,Smith,456 Oak St,9876543210,IT,2024-01-26
3,Bob,Johnson,789 Pine St,5551234567,Finance,2024-01-27
4,Alice,Williams,321 Birch St,5559876543,Marketing,2024-01-28
5,Charlie,Brown,654 Maple St,5555555555,Sales,2024-01-29
6,Eva,Miller,987 Cedar St,5551112233,Engineering,2024-02-02
7,David,Jones,234 Pine St,5553334444,People Ops,2024-02-03
8,Grace,Clark,567 Oak St,5556667777,IT,2024-02-04
9,Sam,White,890 Elm St,5559990000,Marketing,2024-02-05
10,Lily,Brown,123 Birch St,5554445555,Engineering,2024-02-06
11,Mike,Smith,456 Cedar St,5557778888,Sales,2024-02-07
12,Olivia,Miller,789 Maple St,5552223333,Finance,2024-02-08
13,Daniel,Clark,987 Elm St,5551110000,IT,2024-02-09
14,Sophia,Jones,345 Pine St,5556669999,Engineering,2024-02-10
15,Henry,Wilson,678 Oak St,5553332222,Marketing,2024-02-11

In [0]:
%sql

UPDATE attempt2
SET joined_date = CASE
WHEN id_no = 1 THEN '2023-05-16'
WHEN id_no = 2 THEN '2016-06-15'
ELSE joined_date
END;

num_affected_rows
15

In [0]:
%sql

SELECT * FROM attempt2;

id_no,first_name,last_Name,address,phone_number,department,joined_date
1,John,Doe,123 Main St,1234567890,People Ops,2023-05-16
2,Jane,Smith,456 Oak St,9876543210,IT,2016-06-15
3,Bob,Johnson,789 Pine St,5551234567,Finance,2024-01-27
4,Alice,Williams,321 Birch St,5559876543,Marketing,2024-01-28
5,Charlie,Brown,654 Maple St,5555555555,Sales,2024-01-29
6,Eva,Miller,987 Cedar St,5551112233,Engineering,2024-02-02
7,David,Jones,234 Pine St,5553334444,People Ops,2024-02-03
8,Grace,Clark,567 Oak St,5556667777,IT,2024-02-04
9,Sam,White,890 Elm St,5559990000,Marketing,2024-02-05
10,Lily,Brown,123 Birch St,5554445555,Engineering,2024-02-06
11,Mike,Smith,456 Cedar St,5557778888,Sales,2024-02-07
12,Olivia,Miller,789 Maple St,5552223333,Finance,2024-02-08
13,Daniel,Clark,987 Elm St,5551110000,IT,2024-02-09
14,Sophia,Jones,345 Pine St,5556669999,Engineering,2024-02-10
15,Henry,Wilson,678 Oak St,5553332222,Marketing,2024-02-11

In [0]:
%sql

CREATE TABLE department_info (
  department_id INT,
  department_name VARCHAR(255),
  department_head VARCHAR(255)
);

In [0]:
%sql

INSERT INTO department_info (department_id, department_name, department_head)
VALUES
  (1, 'HR', 'John HRHead'),
  (2, 'IT', 'Jane ITHead'),
  (3, 'Finance', 'Bob FinanceHead'),
  (4, 'Marketing', 'Alice MarketingHead'),
  (5, 'Sales', 'Charlie SalesHead'),
  (6, 'Engineering', 'Eva EngineeringHead');

num_affected_rows,num_inserted_rows
6,6

In [0]:
print('apple')

apple