BootCamp Task Day 2:

1.	Convert "name:John,age:34,city:New York" string to dictionary using python.

2.	You have a string that represents information about various books. Each book's information is separated by a pipe (|), and within each book's data, different attributes like title, author, and year are separated by a comma. Your task is to convert this string into a dictionary where each book's title is the key, and the value is another dictionary containing the author and year of publication.

String : "The Great Gatsby, F. Scott Fitzgerald, 1925 | To Kill a Mockingbird, Harper Lee, 1960 | 1984, George Orwell, 1949"

Convert this string into a nested dictionary with book titles as keys and another dictionary with 'author' and 'year' as keys and their respective values.
Expected Output:

{
    	'The Great Gatsby': {'author': 'F. Scott Fitzgerald', 'year': '1925'},
  	 'To Kill a Mockingbird': {'author': 'Harper Lee', 'year': '1960'},
   	 '1984': {'author': 'George Orwell', 'year': '1949'}
}
3.	Merge two different lists into dictionaries:
names = ["Alice", "Bob", "Charlie"]
grades = ["A", "B", "C"]

4.	You have a dictionary of stock quantities for various items and a list of items that have been sold. Update the dictionary by reducing the stock quantity for each sold item.

stock = {"apples": 10, "oranges": 8, "bananas": 6}
sold_items = ["apples", "oranges", "apples", "bananas"]

5.	You have three lists, containing names, ages, and occupations of a group of people. Combine these lists into a list of dictionaries, each dictionary containing 'name', 'age', and 'occupation' as keys.
List:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
occupations = ["Engineer", "Doctor", "Artist"]

6.	You have received a text message that contains various sentences, some of which are inquiries (ending with a question mark '?'). Your task is to analyze this message and perform several operations using Python string functions.

Text :  "Hello! How are you? I hope you're enjoying your day. Have you seen my notebook? It's important. Thanks for your help!"

Count the Questions: Determine how many sentences in the text are questions.
Extract Questions: Create a list containing only the sentences that are questions.
Remove Punctuation: Create a new version of the text with all punctuation removed.
Word Count: Count how many times the word 'you' appears in the text (case-insensitive).
Concatenate: Concatenate the first and last sentences to form a new sentence.

In [1]:
#Convert "name:John,age:34,city:New York" string to dictionary using python.
dict1 = {"name": "john",
         "age": 34,
         "city": "New York"
}
print(dict1)

{'name': 'john', 'age': 34, 'city': 'New York'}

Question 1

In [2]:
my_string = "name:John,age:34,city:New York"
pairs = my_string.split(',')
dict2 = {key: str(value) for key, value in (pair.split(':') for pair in pairs)}
print(dict2)

{'name': 'John', 'age': '34', 'city': 'New York'}

Question 2

In [3]:
sec_string =  "The Great Gatsby, F. Scott Fitzgerald, 1925 | To Kill a Mockingbird, Harper Lee, 1960 | 1984, George Orwell, 1949"
book_detail = sec_string.split(" | ")
book = {}
for pair in book_detail:
  title, author, year = pair.split(", ")

  book[title] = {'author': author, 'year': year}
print(book)

{'The Great Gatsby': {'author': 'F. Scott Fitzgerald', 'year': '1925'}, 'To Kill a Mockingbird': {'author': 'Harper Lee', 'year': '1960'}, '1984': {'author': 'George Orwell', 'year': '1949'}}

Question 3

In [4]:
names = ["Alice", "Bob", "Charlie"]
grades = ["A", "B", "C"]
name_dict = {}
for i in range(len(names)):
    name_dict[names[i]] = grades[i]
print(name_dict)

{'Alice': 'A', 'Bob': 'B', 'Charlie': 'C'}

Question 4

In [5]:
stock = {"apples": 10, "oranges": 8, "bananas": 6}
sold_items = ["apples", "oranges", "apples", "bananas"]
for item in sold_items:
  if item in stock.keys():
    stock[item]-=1
    print(item)
print(stock)

apples
oranges
apples
bananas
{'apples': 8, 'oranges': 7, 'bananas': 5}

Question 4

In [6]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
occupations = ["Engineer", "Doctor", "Artist"]
dict1 = {}
final_list = []
for i in range(len(names)):
  dict1={
      "name": names[i],
      "age": ages[i],
      "occupation": occupations[i]
  }
  final_list.append(dict1)
print(final_list)

[{'name': 'Alice', 'age': 25, 'occupation': 'Engineer'}, {'name': 'Bob', 'age': 30, 'occupation': 'Doctor'}, {'name': 'Charlie', 'age': 35, 'occupation': 'Artist'}]

Question 6

In [7]:
import string

text =  "Hello! How are you? I hope you're enjoying your day. Have you seen my notebook? It's important. \
Thanks for your help!"

sentences = []
current_sentence = ''
for char in text:
    current_sentence += char
    if char in '.!?':
        sentences.append(current_sentence.strip())
        current_sentence = ''
if current_sentence:
    sentences.append(current_sentence.strip())

#print(sentences)
questions = [sentence for sentence in sentences if sentence.endswith('?')]


text_no_punctuation = ''.join(char for char in text if char not in string.punctuation)
first_sentence = sentences[0].split('!')[0]
last_sentence = sentences[-1].split('!')[0] if sentences[-1].endswith('!') else sentences[-1]
first_and_last_sentence = first_sentence + ' ' + last_sentence
print(f"The list of questions are:{questions}")
print(sentences)
print(f"Total number of questions are: {len(questions)}")
print("Text without punctuation:", text_no_punctuation)
print(f"The total number of you in text is:{text.count('you')}")
first_last_sentences = first_sentence + last_sentence

print(f"The concatinated sentences are: {first_last_sentences}")

The list of questions are:['How are you?', 'Have you seen my notebook?']
['Hello!', 'How are you?', "I hope you're enjoying your day.", 'Have you seen my notebook?', "It's important.", 'Thanks for your help!']
Total number of questions are: 2
Text without punctuation: Hello How are you I hope youre enjoying your day Have you seen my notebook Its important Thanks for your help
The total number of you in text is:5
The concatinated sentences are: HelloThanks for your help