In [0]:
from pyspark.sql import SparkSession
sc = SparkSession.builder.getOrCreate()

In [0]:
df_csv.show()

+---+-----+----------+----+------+----------+
| id| name|       dob| age|salary|department|
+---+-----+----------+----+------+----------+
|  1| John|1992-05-12|  30| 70000|        IT|
|  2|Alice|1997-02-28|  25| 60000|        HR|
|  3|  Bob|      null|null| 80000|        IT|
|  4|Emily|1994-11-22|  28| 65000|   Finance|
+---+-----+----------+----+------+----------+

In [0]:
# df_csv = spark.read.format("csv").option("header",True).load("dbfs:///FileStore/tables/csv/batch.csv")
df_csv=spark.read.format("csv").schema(schema).option("header",True).load("dbfs:/FileStore/tables/csv/batch.csv")

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType

In [0]:
df_csv.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)

In [0]:
schema = StructType([
    StructField("id", IntegerType()),
    StructField("name", StringType()),
    StructField("dob", DateType()),
    StructField("age",IntegerType()),
    StructField("salary", IntegerType()),
    StructField("department", StringType()),
])

In [0]:
df_csv.show()

+---+-----+----------+----+------+----------+
| id| name|       dob| age|salary|department|
+---+-----+----------+----+------+----------+
|  1| John|1992-05-12|  30| 70000|        IT|
|  2|Alice|1997-02-28|  25| 60000|        HR|
|  3|  Bob|      null|null| 80000|        IT|
|  4|Emily|1994-11-22|  28| 65000|   Finance|
+---+-----+----------+----+------+----------+

In [0]:
schema = StructType([
    StructField("id", IntegerType()),
    StructField("name", StringType()),
    StructField("dob", DateType()),
    StructField("age",IntegerType()),
    StructField("salary", IntegerType()),
    StructField("department", StringType()),
])

In [0]:
# df_json = spark.read.format("json").load("dbfs:/FileStore/tables/json")
df_json=spark.read.format("json").schema(schema).load("dbfs:/FileStore/tables/json")

In [0]:
df_json.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)

In [0]:
df_json.show()

+---+------+----------+----+------+----------+
| id|  name|       dob| age|salary|department|
+---+------+----------+----+------+----------+
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  5| David|1981-12-18|  41| 90000|        HR|
|  6| Susan|1989-07-05|  33| 75000|   Finance|
|  7|  Mike|1976-03-15|  46| 95000|        IT|
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  5| David|1981-12-18|  41| 90000|        HR|
|  6| Susan|1989-07-05|  33| 75000|   Finance|
|  7|  Mike|1976-03-15|  46| 95000|        IT|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|
|  2| Alice|1997-02-28|  25| 90000|   Finance|
|  2| Alice|1997-02-28|  25| 90000|   Finance|
|  4| Emily|1994-11-22|  28| 70000|   Finance|
|  4| Emily|1994-11-22|  28| 70000|   Finance|
+---+------+----------+----+------+----------+
only showing top 20 rows

In [0]:
#union
df= df_json.union(df_csv)
df.show()

+---+------+----------+----+------+----------+
| id|  name|       dob| age|salary|department|
+---+------+----------+----+------+----------+
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  5| David|1981-12-18|  41| 90000|        HR|
|  6| Susan|1989-07-05|  33| 75000|   Finance|
|  7|  Mike|1976-03-15|  46| 95000|        IT|
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  5| David|1981-12-18|  41| 90000|        HR|
|  6| Susan|1989-07-05|  33| 75000|   Finance|
|  7|  Mike|1976-03-15|  46| 95000|        IT|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|
|  2| Alice|1997-02-28|  25| 90000|   Finance|
|  2| Alice|1997-02-28|  25| 90000|   Finance|
|  4| Emily|1994-11-22|  28| 70000|   Finance|
|  4| Emily|1994-11-22|  28| 70000|   Finance|
+---+------+----------+----+------+----------+
only showing top 20 rows

In [0]:
from pyspark.sql import Window

In [0]:
from pyspark.sql import functions as F

In [0]:
#repeated 2 times then first value  should be true and remaining rows should be false

#window spec variable banayo, tesma partation id ko basis ma 
window_spec = Window.partitionBy("id").orderBy("dob")

#is dublicate   
df = df.withColumn(
    "is_duplicate",
   ~(F.row_number().over(window_spec) == 1)
)

df.display()

id,name,dob,age,salary,department,is_duplicate,mean_salary,is_above_mean,is_above_mean_all
1,John,1992-05-12,30,70000,IT,false,79500.0,false,false
1,John,1992-05-12,30,70000,IT,true,79500.0,false,false
1,John,1992-05-12,30,70000,IT,true,79500.0,false,false
1,John,1992-05-12,30,70000,IT,true,79500.0,false,false
1,John,1992-05-12,30,70000,IT,true,79500.0,false,false
2,Alice,1997-02-28,25,90000,Finance,false,71727.27272727272,true,true
2,Alice,1997-02-28,25,90000,Finance,true,71727.27272727272,true,true
2,Alice,1997-02-28,25,60000,HR,true,68000.0,false,false
2,Alice,1997-02-28,25,60000,HR,true,68000.0,false,false
2,Alice,1997-02-28,25,60000,HR,true,68000.0,false,false
3,Bob,null,null,80000,IT,false,79500.0,true,true
3,Bob,null,null,80000,IT,true,79500.0,true,true
3,Bob,null,null,80000,IT,true,79500.0,true,true
4,Emily,1994-11-22,28,65000,Finance,false,71727.27272727272,false,false
4,Emily,1994-11-22,28,65000,Finance,true,71727.27272727272,false,false
4,Emily,1994-11-22,28,70000,Finance,true,71727.27272727272,false,false
4,Emily,1994-11-22,28,70000,Finance,true,71727.27272727272,false,false
4,Emily,1994-11-22,28,65000,Finance,true,71727.27272727272,false,false
5,David,1981-12-18,41,90000,HR,false,68000.0,true,true
5,David,1981-12-18,41,90000,HR,true,68000.0,true,true
6,Susan,1989-07-05,33,75000,Finance,false,71727.27272727272,true,true
6,Susan,1989-07-05,33,75000,Finance,true,71727.27272727272,true,true
7,Mike,1976-03-15,46,95000,IT,false,79500.0,true,true
7,Mike,1976-03-15,46,95000,IT,true,79500.0,true,true
8,Lisa,1995-08-20,27,58000,HR,false,68000.0,false,false
8,Lisa,1995-08-20,27,58000,HR,true,68000.0,false,false
9,James,1983-10-14,39,87000,IT,false,79500.0,true,true
9,James,1983-10-14,39,87000,IT,true,79500.0,true,true
10,Sophie,1992-06-30,30,62000,Finance,false,71727.27272727272,false,false
10,Sophie,1992-06-30,30,62000,Finance,true,71727.27272727272,false,false

In [0]:
 # 2 Calculate mean salary and check if it is greater or equal to the salary of employees in each department.
window_spec = Window.partitionBy("department")
df=df.withColumns({
    "mean_salary":F.avg("salary").over(window_spec),
    "is_above_mean":    F.col("salary") >= F.col("mean_salary")
})
 
df.display()

id,name,dob,age,salary,department,is_duplicate,mean_salary,is_above_mean
2,Alice,1997-02-28,25,90000,Finance,false,71727.27272727272,true
2,Alice,1997-02-28,25,90000,Finance,false,71727.27272727272,true
4,Emily,1994-11-22,28,65000,Finance,true,71727.27272727272,false
4,Emily,1994-11-22,28,65000,Finance,false,71727.27272727272,false
4,Emily,1994-11-22,28,70000,Finance,false,71727.27272727272,false
4,Emily,1994-11-22,28,70000,Finance,false,71727.27272727272,false
4,Emily,1994-11-22,28,65000,Finance,false,71727.27272727272,false
6,Susan,1989-07-05,33,75000,Finance,true,71727.27272727272,true
6,Susan,1989-07-05,33,75000,Finance,false,71727.27272727272,true
10,Sophie,1992-06-30,30,62000,Finance,true,71727.27272727272,false
10,Sophie,1992-06-30,30,62000,Finance,false,71727.27272727272,false
2,Alice,1997-02-28,25,60000,HR,true,68000.0,false
2,Alice,1997-02-28,25,60000,HR,false,68000.0,false
2,Alice,1997-02-28,25,60000,HR,false,68000.0,false
5,David,1981-12-18,41,90000,HR,true,68000.0,true
5,David,1981-12-18,41,90000,HR,false,68000.0,true
8,Lisa,1995-08-20,27,58000,HR,true,68000.0,false
8,Lisa,1995-08-20,27,58000,HR,false,68000.0,false
1,John,1992-05-12,30,70000,IT,true,79500.0,false
1,John,1992-05-12,30,70000,IT,false,79500.0,false
1,John,1992-05-12,30,70000,IT,false,79500.0,false
1,John,1992-05-12,30,70000,IT,false,79500.0,false
1,John,1992-05-12,30,70000,IT,false,79500.0,false
3,Bob,null,null,80000,IT,true,79500.0,true
3,Bob,null,null,80000,IT,false,79500.0,true
3,Bob,null,null,80000,IT,false,79500.0,true
7,Mike,1976-03-15,46,95000,IT,true,79500.0,true
7,Mike,1976-03-15,46,95000,IT,false,79500.0,true
9,James,1983-10-14,39,87000,IT,true,79500.0,true
9,James,1983-10-14,39,87000,IT,false,79500.0,true

In [0]:
# Calculate mean salary and check if it is greater or equal to the salary of all employees.
average_salary = (df.select(F.avg('salary')).first()[0])
 
df.withColumns(
    {
    'avg_salary': F.lit(average_salary),
    'is_above_avg': F.col('salary') >= average_salary}
).show()

+---+-----+----------+----+------+----------+------------+-----------------+-------------+-----------------+-----------------+------------+
| id| name|       dob| age|salary|department|is_duplicate|      mean_salary|is_above_mean|is_above_mean_all|       avg_salary|is_above_avg|
+---+-----+----------+----+------+----------+------------+-----------------+-------------+-----------------+-----------------+------------+
|  1| John|1992-05-12|  30| 70000|        IT|       false|          79500.0|        false|            false|73966.66666666667|       false|
|  1| John|1992-05-12|  30| 70000|        IT|        true|          79500.0|        false|            false|73966.66666666667|       false|
|  1| John|1992-05-12|  30| 70000|        IT|        true|          79500.0|        false|            false|73966.66666666667|       false|
|  1| John|1992-05-12|  30| 70000|        IT|        true|          79500.0|        false|            false|73966.66666666667|       false|
|  1| John|1992-05-12|  30| 70000|        IT|        true|          79500.0|        false|            false|73966.66666666667|       false|
|  2|Alice|1997-02-28|  25| 90000|   Finance|       false|71727.27272727272|         true|             true|73966.66666666667|        true|
|  2|Alice|1997-02-28|  25| 90000|   Finance|        true|71727.27272727272|         true|             true|73966.66666666667|        true|
|  2|Alice|1997-02-28|  25| 60000|        HR|        true|          68000.0|        false|            false|73966.66666666667|       false|
|  2|Alice|1997-02-28|  25| 60000|        HR|        true|          68000.0|        false|            false|73966.66666666667|       false|
|  2|Alice|1997-02-28|  25| 60000|        HR|        true|          68000.0|        false|            false|73966.66666666667|       false|
|  3|  Bob|      null|null| 80000|        IT|       false|          79500.0|         true|             true|73966.66666666667|        true|
|  3|  Bob|      null|null| 80000|        IT|        true|          79500.0|         true|             true|73966.66666666667|        true|
|  3|  Bob|      null|null| 80000|        IT|        true|          79500.0|         true|             true|73966.66666666667|        true|
|  4|Emily|1994-11-22|  28| 65000|   Finance|       false|71727.27272727272|        false|            false|73966.66666666667|       false|
|  4|Emily|1994-11-22|  28| 65000|   Finance|        true|71727.27272727272|        false|            false|73966.66666666667|       false|
|  4|Emily|1994-11-22|  28| 70000|   Finance|        true|71727.27272727272|        false|            false|73966.66666666667|       false|
|  4|Emily|1994-11-22|  28| 70000|   Finance|        true|71727.27272727272|        false|            false|73966.66666666667|       false|
|  4|Emily|1994-11-22|  28| 65000|   Finance|        true|71727.27272727272|        false|            false|73966.66666666667|       false|
|  5|David|1981-12-18|  41| 90000|        HR|       false|          68000.0|         true|             true|73966.66666666667|        true|
|  5|David|1981-12-18|  41| 90000|        HR|        true|          68000.0|         true|             true|73966.66666666667|        true|
+---+-----+----------+----+------+----------+------------+-----------------+-------------+-----------------+-----------------+------------+
only showing top 20 rows