1. Create a new notebook.
- load both the csv and json files. union them properly
- Instead of dropping the duplicates, create a boolean column is_duplicate and set False to only one and True to the rest of them

2. Calculate mean salary and check if it is greater or equal to the salary of employees in each department.
 
- Calculate mean salary and check if it is greater or equal to the salary of all employees.

In [ ]:
%fs ls dbfs:/FileStore/tables

path,name,size,modificationTime
dbfs:/FileStore/tables/Address-1.csv,Address-1.csv,200998,1707132850000
dbfs:/FileStore/tables/Address-1.xlsx,Address-1.xlsx,151315,1706168249000
dbfs:/FileStore/tables/Address-2.xlsx,Address-2.xlsx,151315,1706624186000
dbfs:/FileStore/tables/Address-3.xlsx,Address-3.xlsx,151315,1706634070000
dbfs:/FileStore/tables/Address.csv,Address.csv,200998,1706675793000
dbfs:/FileStore/tables/Address.xlsx,Address.xlsx,151315,1706104067000
dbfs:/FileStore/tables/Detail-1.csv,Detail-1.csv,208476,1706519263000
dbfs:/FileStore/tables/Detail-1.parquet/,Detail-1.parquet/,0,0
dbfs:/FileStore/tables/Detail-2.csv,Detail-2.csv,208476,1706519435000
dbfs:/FileStore/tables/Detail-3.csv,Detail-3.csv,208476,1706624185000
dbfs:/FileStore/tables/Detail-4.csv,Detail-4.csv,208476,1706634069000
dbfs:/FileStore/tables/Detail-5.csv,Detail-5.csv,208476,1706675794000
dbfs:/FileStore/tables/Detail-6.csv,Detail-6.csv,208476,1707132850000
dbfs:/FileStore/tables/Detail.csv,Detail.csv,208476,1706104067000
dbfs:/FileStore/tables/Project_1-1.xlsx,Project_1-1.xlsx,422501,1706622218000
dbfs:/FileStore/tables/Project_1-2.xlsx,Project_1-2.xlsx,422501,1706624207000
dbfs:/FileStore/tables/Project_1-3.xlsx,Project_1-3.xlsx,422501,1706634071000
dbfs:/FileStore/tables/Project_1-4.xlsx,Project_1-4.xlsx,422501,1706675795000
dbfs:/FileStore/tables/Project_1.xlsx,Project_1.xlsx,422501,1706526271000
dbfs:/FileStore/tables/batch.csv,batch.csv,151,1707460802000
dbfs:/FileStore/tables/contact.csv/,contact.csv/,0,0
dbfs:/FileStore/tables/contactI.csv/,contactI.csv/,0,0
dbfs:/FileStore/tables/contactInf.csv/,contactInf.csv/,0,0
dbfs:/FileStore/tables/contactInformation.csv/,contactInformation.csv/,0,0
dbfs:/FileStore/tables/contactInfos.csv/,contactInfos.csv/,0,0
dbfs:/FileStore/tables/contactfile.csv/,contactfile.csv/,0,0
dbfs:/FileStore/tables/contactinfo-1.txt,contactinfo-1.txt,49969,1706624185000
dbfs:/FileStore/tables/contactinfo-2.txt,contactinfo-2.txt,49969,1706634070000
dbfs:/FileStore/tables/contactinfo-3.txt,contactinfo-3.txt,49969,1706675794000
dbfs:/FileStore/tables/contactinfo-4.txt,contactinfo-4.txt,49969,1707132850000
dbfs:/FileStore/tables/contactinfo.csv/,contactinfo.csv/,0,0
dbfs:/FileStore/tables/contactinfo.txt,contactinfo.txt,49969,1706104067000
dbfs:/FileStore/tables/csv/,csv/,0,0
dbfs:/FileStore/tables/detailfile.parquet/,detailfile.parquet/,0,0
dbfs:/FileStore/tables/googlestore-1.xlsx,googlestore-1.xlsx,778250,1706519265000
dbfs:/FileStore/tables/googlestore-2.xlsx,googlestore-2.xlsx,778250,1706519436000
dbfs:/FileStore/tables/googlestore.xlsx,googlestore.xlsx,778250,1706462877000
dbfs:/FileStore/tables/header-1.json,header-1.json,115560,1706160445000
dbfs:/FileStore/tables/header-2.json,header-2.json,115560,1706624184000
dbfs:/FileStore/tables/header-3.json,header-3.json,115560,1706634069000
dbfs:/FileStore/tables/header-4.json,header-4.json,115560,1706675793000
dbfs:/FileStore/tables/header-5.json,header-5.json,115560,1707132850000
dbfs:/FileStore/tables/header.json,header.json,115560,1706104067000
dbfs:/FileStore/tables/parquet/,parquet/,0,0

In [ ]:
# %fs
# rm -r dbfs:/FileStore/tables/Detail-1.parquet
# rm -r dbfs:/FileStore/tables/json

CSV File

In [ ]:
df_csv = spark.read. format ("csv").options(header=True).load ("dbfs:/FileStore/tables/csv/batch.csv")
df_csv.show()
df_csv.printSchema()
df_csv.dtypes

+---+-----+----------+----+------+----------+
| id| name|       dob| age|salary|department|
+---+-----+----------+----+------+----------+
|  1| John|1992-05-12|  30| 70000|        IT|
|  2|Alice|1997-02-28|  25| 60000|        HR|
|  3|  Bob|      null|null| 80000|        IT|
|  4|Emily|1994-11-22|  28| 65000|   Finance|
+---+-----+----------+----+------+----------+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- department: string (nullable = true)

Out[1]: [('id', 'string'),
 ('name', 'string'),
 ('dob', 'string'),
 ('age', 'string'),
 ('salary', 'string'),
 ('department', 'string')]

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType

In [ ]:
sch = StructType([
    StructField("id", IntegerType()),
    StructField("name", StringType()),
    StructField("dob", DateType()),
    StructField("age", IntegerType()),
    StructField("salary", IntegerType()),
    StructField("department", StringType()),
])

##### Now schema is changed and loading csv again

In [ ]:
df_csv = spark.read. format ("csv").schema(sch).options(header=True).load ("dbfs:/FileStore/tables/csv/batch.csv")
df_csv.printSchema()
df_csv.show()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)

+---+-----+----------+----+------+----------+
| id| name|       dob| age|salary|department|
+---+-----+----------+----+------+----------+
|  1| John|1992-05-12|  30| 70000|        IT|
|  2|Alice|1997-02-28|  25| 60000|        HR|
|  3|  Bob|      null|null| 80000|        IT|
|  4|Emily|1994-11-22|  28| 65000|   Finance|
+---+-----+----------+----+------+----------+

LOAD JSON

In [ ]:
df_json = spark.read. format ("json").load ("dbfs:/FileStore/tables/json")
df_json.show()
df_json.printSchema()

+----+----------+----------+---+------+------+
| age|department|       dob| id|  name|salary|
+----+----------+----------+---+------+------+
|  30|        IT|1992-05-12|  1|  John| 70000|
|  25|        HR|1997-02-28|  2| Alice| 60000|
|null|        IT|      null|  3|   Bob| 80000|
|  28|   Finance|1994-11-22|  4| Emily| 65000|
|  41|        HR|1981-12-18|  5| David| 90000|
|  33|   Finance|1989-07-05|  6| Susan| 75000|
|  46|        IT|1976-03-15|  7|  Mike| 95000|
|  30|   Finance|1992-06-30| 10|Sophie| 62000|
|  25|   Finance|1997-02-28|  2| Alice| 90000|
|  28|   Finance|1994-11-22|  4| Emily| 70000|
|  39|        IT|1983-10-14|  9| James| 87000|
|  30|        IT|1992-05-12|  1|  John| 70000|
|  27|        HR|1995-08-20|  8|  Lisa| 58000|
+----+----------+----------+---+------+------+

root
 |-- age: long (nullable = true)
 |-- department: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

#### loading json with changed schema

In [ ]:
df_json = spark.read.format('json').schema(sch).load("dbfs:/FileStore/tables/json")
df_json.printSchema()
df_json.show()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)

+---+------+----------+----+------+----------+
| id|  name|       dob| age|salary|department|
+---+------+----------+----+------+----------+
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  5| David|1981-12-18|  41| 90000|        HR|
|  6| Susan|1989-07-05|  33| 75000|   Finance|
|  7|  Mike|1976-03-15|  46| 95000|        IT|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|
|  2| Alice|1997-02-28|  25| 90000|   Finance|
|  4| Emily|1994-11-22|  28| 70000|   Finance|
|  9| James|1983-10-14|  39| 87000|        IT|
|  1|  John|1992-05-12|  30| 70000|        IT|
|  8|  Lisa|1995-08-20|  27| 58000|        HR|
+---+------+----------+----+------+----------+

UNION - apply on csv and json data

In [ ]:
df = df_csv.union(df_json)
df.show()
df.printSchema()

+---+------+----------+----+------+----------+
| id|  name|       dob| age|salary|department|
+---+------+----------+----+------+----------+
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  5| David|1981-12-18|  41| 90000|        HR|
|  6| Susan|1989-07-05|  33| 75000|   Finance|
|  7|  Mike|1976-03-15|  46| 95000|        IT|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|
|  2| Alice|1997-02-28|  25| 90000|   Finance|
|  4| Emily|1994-11-22|  28| 70000|   Finance|
|  9| James|1983-10-14|  39| 87000|        IT|
|  1|  John|1992-05-12|  30| 70000|        IT|
|  8|  Lisa|1995-08-20|  27| 58000|        HR|
+---+------+----------+----+------+----------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)

In [ ]:
print(df_csv.columns, df_json.columns)
df.count()

['id', 'name', 'dob', 'age', 'salary', 'department'] ['id', 'name', 'dob', 'age', 'salary', 'department']
Out[14]: 17

In [ ]:
# Mapping columns based on datapoints i.e. id from json to id from csv
# df_json = df_json.select(df_csv.columns)

TASK -1 : 
- load both the csv and json files. union them properly
- Instead of dropping the duplicates, create a boolean column is_duplicate and set False to only one and True to the rest of them

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

duplicate_window = Window.partitionBy(df.columns).orderBy("id")

# boolean values for the column is_duplicate 
df = df.withColumn(
    "is_duplicate",
    # F.row_number().over(duplicate_window) > 1  # or
    F.row_number().over(duplicate_window) != 1 
)

df.show()

+---+------+----------+----+------+----------+------------+
| id|  name|       dob| age|salary|department|is_duplicate|
+---+------+----------+----+------+----------+------------+
|  1|  John|1992-05-12|  30| 70000|        IT|       false|
|  1|  John|1992-05-12|  30| 70000|        IT|        true|
|  1|  John|1992-05-12|  30| 70000|        IT|        true|
|  2| Alice|1997-02-28|  25| 60000|        HR|       false|
|  2| Alice|1997-02-28|  25| 60000|        HR|        true|
|  2| Alice|1997-02-28|  25| 90000|   Finance|       false|
|  3|   Bob|      null|null| 80000|        IT|       false|
|  3|   Bob|      null|null| 80000|        IT|        true|
|  4| Emily|1994-11-22|  28| 65000|   Finance|       false|
|  4| Emily|1994-11-22|  28| 65000|   Finance|        true|
|  4| Emily|1994-11-22|  28| 70000|   Finance|       false|
|  5| David|1981-12-18|  41| 90000|        HR|       false|
|  6| Susan|1989-07-05|  33| 75000|   Finance|       false|
|  7|  Mike|1976-03-15|  46| 95000|        IT|       false|
|  8|  Lisa|1995-08-20|  27| 58000|        HR|       false|
|  9| James|1983-10-14|  39| 87000|        IT|       false|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|       false|
+---+------+----------+----+------+----------+------------+

TASK -2 : 
- Calculate mean salary and check if it is greater or equal to the salary of employees in each department.
- Calculate mean salary and check if it is greater or equal to the salary of all employees.

In [ ]:
window_spec = Window.partitionBy("department")

df_department = df.withColumn(
    "mean_salary_greater_or_equals_department",
    F.col("salary") >= F.mean("salary").over(window_spec)
    # F.col("salary")>= F.avg(F.col("salary")).over(window_spec) 
)
df_department.show()

+---+------+----------+----+------+----------+------------+----------------------------------------+
| id|  name|       dob| age|salary|department|is_duplicate|mean_salary_greater_or_equals_department|
+---+------+----------+----+------+----------+------------+----------------------------------------+
|  2| Alice|1997-02-28|  25| 90000|   Finance|       false|                                    true|
|  4| Emily|1994-11-22|  28| 65000|   Finance|       false|                                   false|
|  4| Emily|1994-11-22|  28| 65000|   Finance|        true|                                   false|
|  4| Emily|1994-11-22|  28| 70000|   Finance|       false|                                   false|
|  6| Susan|1989-07-05|  33| 75000|   Finance|       false|                                    true|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|       false|                                   false|
|  2| Alice|1997-02-28|  25| 60000|        HR|       false|                                   false|
|  2| Alice|1997-02-28|  25| 60000|        HR|        true|                                   false|
|  5| David|1981-12-18|  41| 90000|        HR|       false|                                    true|
|  8|  Lisa|1995-08-20|  27| 58000|        HR|       false|                                   false|
|  1|  John|1992-05-12|  30| 70000|        IT|       false|                                   false|
|  1|  John|1992-05-12|  30| 70000|        IT|        true|                                   false|
|  1|  John|1992-05-12|  30| 70000|        IT|        true|                                   false|
|  3|   Bob|      null|null| 80000|        IT|       false|                                    true|
|  3|   Bob|      null|null| 80000|        IT|        true|                                    true|
|  7|  Mike|1976-03-15|  46| 95000|        IT|       false|                                    true|
|  9| James|1983-10-14|  39| 87000|        IT|       false|                                    true|
+---+------+----------+----+------+----------+------------+----------------------------------------+

In [ ]:
window_spec = Window.partitionBy()

df_employee = df.withColumn(
    "is_salary_greater_or_equals_employee",
    (
        F.col("salary") >= F.mean("salary").over(window_spec)
    )
)
df_employee.show()

+---+------+----------+----+------+----------+------------+------------------------------------+
| id|  name|       dob| age|salary|department|is_duplicate|is_salary_greater_or_equals_employee|
+---+------+----------+----+------+----------+------------+------------------------------------+
|  1|  John|1992-05-12|  30| 70000|        IT|       false|                               false|
|  1|  John|1992-05-12|  30| 70000|        IT|        true|                               false|
|  1|  John|1992-05-12|  30| 70000|        IT|        true|                               false|
|  2| Alice|1997-02-28|  25| 60000|        HR|       false|                               false|
|  2| Alice|1997-02-28|  25| 60000|        HR|        true|                               false|
|  2| Alice|1997-02-28|  25| 90000|   Finance|       false|                                true|
|  3|   Bob|      null|null| 80000|        IT|       false|                                true|
|  3|   Bob|      null|null| 80000|        IT|        true|                                true|
|  4| Emily|1994-11-22|  28| 65000|   Finance|       false|                               false|
|  4| Emily|1994-11-22|  28| 65000|   Finance|        true|                               false|
|  4| Emily|1994-11-22|  28| 70000|   Finance|       false|                               false|
|  5| David|1981-12-18|  41| 90000|        HR|       false|                                true|
|  6| Susan|1989-07-05|  33| 75000|   Finance|       false|                                true|
|  7|  Mike|1976-03-15|  46| 95000|        IT|       false|                                true|
|  8|  Lisa|1995-08-20|  27| 58000|        HR|       false|                               false|
|  9| James|1983-10-14|  39| 87000|        IT|       false|                                true|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|       false|                               false|
+---+------+----------+----+------+----------+------------+------------------------------------+