In [0]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.types import StructType,StructField,IntegerType,StringType,DateType
spark=SparkSession.builder.getOrCreate()

In [0]:
%fs ls dbfs:///FileStore/tables

path,name,size,modificationTime
dbfs:/FileStore/tables/10_20220101.json,10_20220101.json,102,1707463030000
dbfs:/FileStore/tables/1_20220101.json,1_20220101.json,94,1707463030000
dbfs:/FileStore/tables/2_20220101.json,2_20220101.json,100,1707463031000
dbfs:/FileStore/tables/4_20220101.json,4_20220101.json,100,1707463031000
dbfs:/FileStore/tables/8_20220101.json,8_20220101.json,94,1707463031000
dbfs:/FileStore/tables/9_20220101.json,9_20220101.json,95,1707463030000
dbfs:/FileStore/tables/Address.xlsx,Address.xlsx,151315,1706079718000
dbfs:/FileStore/tables/Detail-1.csv,Detail-1.csv,208476,1706073951000
dbfs:/FileStore/tables/Detail.csv,Detail.csv,208476,1706073709000
dbfs:/FileStore/tables/Project1.xlsx,Project1.xlsx,422501,1706689323000
dbfs:/FileStore/tables/Project_1-1.xlsx,Project_1-1.xlsx,422501,1706173490000
dbfs:/FileStore/tables/Project_1-2.xlsx,Project_1-2.xlsx,422501,1706173950000
dbfs:/FileStore/tables/Project_1-3.xlsx,Project_1-3.xlsx,422501,1706174372000
dbfs:/FileStore/tables/Project_1-4.xlsx,Project_1-4.xlsx,422501,1706689008000
dbfs:/FileStore/tables/Project_1.xlsx,Project_1.xlsx,422501,1706173408000
dbfs:/FileStore/tables/batch.jsonl,batch.jsonl,671,1707463030000
dbfs:/FileStore/tables/contactinfo.txt,contactinfo.txt,49969,1706075893000
dbfs:/FileStore/tables/data/,data/,0,0
dbfs:/FileStore/tables/final/,final/,0,0
dbfs:/FileStore/tables/header-1.json,header-1.json,127562,1706159837000
dbfs:/FileStore/tables/header-2.json,header-2.json,127562,1706174817000
dbfs:/FileStore/tables/header.json,header.json,115560,1706076258000
dbfs:/FileStore/tables/header1.json,header1.json,429,1706077246000
dbfs:/FileStore/tables/project_1.ipynb,project_1.ipynb,9459630,1706689170000

In [0]:
df_csv.show()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-683965652416700>:1
----> 1 df_csv.show()

NameError: name 'df_csv' is not defined

In [0]:
schema=StructType([
    StructField("id",IntegerType()),
    StructField("name",StringType()),
    StructField("dob",DateType()),
    StructField("age",IntegerType()),
    StructField("salary",IntegerType()),
    StructField("department",StringType()),

])

In [0]:
df_csv=spark.read.format("csv").schema(schema).option("header",True).load("dbfs:///FileStore/tables/data/csv/batch.csv")

In [0]:
df_csv.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)

In [0]:
df_json = spark.read.format("json").load("dbfs:///FileStore/tables/data/json"
)

In [0]:
df_json.printSchema()

root
 |-- age: long (nullable = true)
 |-- department: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
df_csv.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)

In [0]:
# df_json.show()

In [0]:
# db_json=df_json.orderBy("id")
# db_json.show()

In [0]:
print(df_csv.columns,df_json.columns)

['id', 'name', 'dob', 'age', 'salary', 'department'] ['age', 'department', 'dob', 'id', 'name', 'salary']

In [0]:
df_json=df_json.select(df_csv.columns)

In [0]:
print(df_csv.columns,df_json.columns)

['id', 'name', 'dob', 'age', 'salary', 'department'] ['id', 'name', 'dob', 'age', 'salary', 'department']

In [0]:
df=df_json.union(df_csv)
print(df.show())

+---+------+----------+----+------+----------+
| id|  name|       dob| age|salary|department|
+---+------+----------+----+------+----------+
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  5| David|1981-12-18|  41| 90000|        HR|
|  6| Susan|1989-07-05|  33| 75000|   Finance|
|  7|  Mike|1976-03-15|  46| 95000|        IT|
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  5| David|1981-12-18|  41| 90000|        HR|
|  6| Susan|1989-07-05|  33| 75000|   Finance|
|  7|  Mike|1976-03-15|  46| 95000|        IT|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|
|  2| Alice|1997-02-28|  25| 90000|   Finance|
|  2| Alice|1997-02-28|  25| 90000|   Finance|
|  4| Emily|1994-11-22|  28| 70000|   Finance|
|  4| Emily|1994-11-22|  28| 70000|   Finance|
+---+------+----------+----+------+----------+
only showing top 20 rows

None

In [0]:
df.display()

id,name,dob,age,salary,department
1,John,1992-05-12,30,70000,IT
2,Alice,1997-02-28,25,60000,HR
3,Bob,null,null,80000,IT
4,Emily,1994-11-22,28,65000,Finance
5,David,1981-12-18,41,90000,HR
6,Susan,1989-07-05,33,75000,Finance
7,Mike,1976-03-15,46,95000,IT
1,John,1992-05-12,30,70000,IT
2,Alice,1997-02-28,25,60000,HR
3,Bob,null,null,80000,IT
4,Emily,1994-11-22,28,65000,Finance
5,David,1981-12-18,41,90000,HR
6,Susan,1989-07-05,33,75000,Finance
7,Mike,1976-03-15,46,95000,IT
10,Sophie,1992-06-30,30,62000,Finance
10,Sophie,1992-06-30,30,62000,Finance
2,Alice,1997-02-28,25,90000,Finance
2,Alice,1997-02-28,25,90000,Finance
4,Emily,1994-11-22,28,70000,Finance
4,Emily,1994-11-22,28,70000,Finance
9,James,1983-10-14,39,87000,IT
9,James,1983-10-14,39,87000,IT
1,John,1992-05-12,30,70000,IT
1,John,1992-05-12,30,70000,IT
8,Lisa,1995-08-20,27,58000,HR
8,Lisa,1995-08-20,27,58000,HR
1,John,1992-05-12,30,70000,IT
2,Alice,1997-02-28,25,60000,HR
3,Bob,null,null,80000,IT
4,Emily,1994-11-22,28,65000,Finance

In [0]:
df=df.dropDuplicates()

In [0]:
df.display()

id,name,dob,age,salary,department
1,John,1992-05-12,30,70000,IT
4,Emily,1994-11-22,28,65000,Finance
2,Alice,1997-02-28,25,60000,HR
6,Susan,1989-07-05,33,75000,Finance
7,Mike,1976-03-15,46,95000,IT
3,Bob,null,null,80000,IT
5,David,1981-12-18,41,90000,HR
10,Sophie,1992-06-30,30,62000,Finance
2,Alice,1997-02-28,25,90000,Finance
4,Emily,1994-11-22,28,70000,Finance
9,James,1983-10-14,39,87000,IT
8,Lisa,1995-08-20,27,58000,HR

In [0]:
df.select("salary","age").show()
df.select("salary","age").show()

df.select(df.salary,df.age).show()

+------+----+
|salary| age|
+------+----+
| 70000|  30|
| 65000|  28|
| 60000|  25|
| 75000|  33|
| 95000|  46|
| 80000|null|
| 90000|  41|
| 62000|  30|
| 90000|  25|
| 70000|  28|
| 87000|  39|
| 58000|  27|
+------+----+

+------+----+
|salary| age|
+------+----+
| 70000|  30|
| 65000|  28|
| 60000|  25|
| 75000|  33|
| 95000|  46|
| 80000|null|
| 90000|  41|
| 62000|  30|
| 90000|  25|
| 70000|  28|
| 87000|  39|
| 58000|  27|
+------+----+

+------+----+
|salary| age|
+------+----+
| 70000|  30|
| 65000|  28|
| 60000|  25|
| 75000|  33|
| 95000|  46|
| 80000|null|
| 90000|  41|
| 62000|  30|
| 90000|  25|
| 70000|  28|
| 87000|  39|
| 58000|  27|
+------+----+

In [0]:
df.select(F.col("salary"),F.col("age")).show()

+------+----+
|salary| age|
+------+----+
| 70000|  30|
| 65000|  28|
| 60000|  25|
| 75000|  33|
| 95000|  46|
| 80000|null|
| 90000|  41|
| 62000|  30|
| 90000|  25|
| 70000|  28|
| 87000|  39|
| 58000|  27|
+------+----+

In [0]:
df.select(
    (df.salary+.05*df.salary).alias("salary"),
    F.year(F.current_timestamp())-F.year("dob"),
    F.year(F.current_timestamp())-F.year(F.col("dob"))
    ).show()

+-------+---------------------------------------+---------------------------------------+
| salary|(year(current_timestamp()) - year(dob))|(year(current_timestamp()) - year(dob))|
+-------+---------------------------------------+---------------------------------------+
|73500.0|                                     32|                                     32|
|68250.0|                                     30|                                     30|
|63000.0|                                     27|                                     27|
|78750.0|                                     35|                                     35|
|99750.0|                                     48|                                     48|
|84000.0|                                   null|                                   null|
|94500.0|                                     43|                                     43|
|65100.0|                                     32|                                     32|
|94500.0|                                     27|                                     27|
|73500.0|                                     30|                                     30|
|91350.0|                                     41|                                     41|
|60900.0|                                     29|                                     29|
+-------+---------------------------------------+---------------------------------------+

In [0]:
df.select(
    F.col("*"),
    df.salary+.05*df.salary,
    (df.salary+.05*df.salary),
    F.expr('salary+.05* salary').alias("salary_raise"),
    (F.year(F.current_timestamp())-F.year(F.col("dob"))).alias("age")
    ).display()

id,name,dob,age,salary,department,(salary + (salary * 0.05)),(salary + (salary * 0.05)),salary_raise,age
1,John,1992-05-12,30,70000,IT,73500.0,73500.0,73500.00,32
4,Emily,1994-11-22,28,65000,Finance,68250.0,68250.0,68250.00,30
2,Alice,1997-02-28,25,60000,HR,63000.0,63000.0,63000.00,27
6,Susan,1989-07-05,33,75000,Finance,78750.0,78750.0,78750.00,35
7,Mike,1976-03-15,46,95000,IT,99750.0,99750.0,99750.00,48
3,Bob,null,null,80000,IT,84000.0,84000.0,84000.00,null
5,David,1981-12-18,41,90000,HR,94500.0,94500.0,94500.00,43
10,Sophie,1992-06-30,30,62000,Finance,65100.0,65100.0,65100.00,32
2,Alice,1997-02-28,25,90000,Finance,94500.0,94500.0,94500.00,27
4,Emily,1994-11-22,28,70000,Finance,73500.0,73500.0,73500.00,30
9,James,1983-10-14,39,87000,IT,91350.0,91350.0,91350.00,41
8,Lisa,1995-08-20,27,58000,HR,60900.0,60900.0,60900.00,29

In [0]:
df=df.withColumn(
    "salary_raise",
    (F.col("salary")+.05*F.col("salary"))
).withColumn(
    "salary_raise_10_perc",
    (F.col("salary")+.01*F.col("salary"))
)

In [0]:
df=df.withColumns(
    {
    "salary_raise":
    (F.col("salary")+.05*F.col("salary")),
    "age":(F.year(F.current_timestamp())-F.year(F.col("dob")))
}
)

In [0]:
df.filter(
    F.col("salary_raise")>=75000
).show()

df.where(
    F.col("salary_raise")>=75000
).show()

+---+-----+----------+----+------+----------+------------+--------------------+
| id| name|       dob| age|salary|department|salary_raise|salary_raise_10_perc|
+---+-----+----------+----+------+----------+------------+--------------------+
|  6|Susan|1989-07-05|  35| 75000|   Finance|     78750.0|             75750.0|
|  7| Mike|1976-03-15|  48| 95000|        IT|     99750.0|             95950.0|
|  3|  Bob|      null|null| 80000|        IT|     84000.0|             80800.0|
|  5|David|1981-12-18|  43| 90000|        HR|     94500.0|             90900.0|
|  2|Alice|1997-02-28|  27| 90000|   Finance|     94500.0|             90900.0|
|  9|James|1983-10-14|  41| 87000|        IT|     91350.0|             87870.0|
+---+-----+----------+----+------+----------+------------+--------------------+

+---+-----+----------+----+------+----------+------------+--------------------+
| id| name|       dob| age|salary|department|salary_raise|salary_raise_10_perc|
+---+-----+----------+----+------+----------+------------+--------------------+
|  6|Susan|1989-07-05|  35| 75000|   Finance|     78750.0|             75750.0|
|  7| Mike|1976-03-15|  48| 95000|        IT|     99750.0|             95950.0|
|  3|  Bob|      null|null| 80000|        IT|     84000.0|             80800.0|
|  5|David|1981-12-18|  43| 90000|        HR|     94500.0|             90900.0|
|  2|Alice|1997-02-28|  27| 90000|   Finance|     94500.0|             90900.0|
|  9|James|1983-10-14|  41| 87000|        IT|     91350.0|             87870.0|
+---+-----+----------+----+------+----------+------------+--------------------+

In [0]:
# df=df.withColumn(
#     "age_group",
#     F.when(
#         F.col("age")<=20,
#         "Upto 20"
#     ).when(
#      ((F.col("age")>20)&
#         F.col("age")<=30),
#         "21 to 30"
#     ).when(
#      ((F.col("age")>30)&
#         F.col("age")<=40),
#         "30 to 40"
#     ).otherwise(
#        F.lit("More than 40")
#     )
# )
df = df.withColumn(
    "age_group",
    F.when(F.col("age") <= 20, "Upto 20")
    .when((F.col("age") > 20) & (F.col("age") <= 30), "21 to 30")
    .when((F.col("age") > 30) & (F.col("age") <= 40), "31 to 40")
    .otherwise("More than 40")
    )

In [0]:
df.show()

+---+------+----------+----+------+----------+------------+--------------------+------------+
| id|  name|       dob| age|salary|department|salary_raise|salary_raise_10_perc|   age_group|
+---+------+----------+----+------+----------+------------+--------------------+------------+
|  1|  John|1992-05-12|  32| 70000|        IT|     73500.0|             70700.0|    31 to 40|
|  4| Emily|1994-11-22|  30| 65000|   Finance|     68250.0|             65650.0|    21 to 30|
|  2| Alice|1997-02-28|  27| 60000|        HR|     63000.0|             60600.0|    21 to 30|
|  6| Susan|1989-07-05|  35| 75000|   Finance|     78750.0|             75750.0|    31 to 40|
|  7|  Mike|1976-03-15|  48| 95000|        IT|     99750.0|             95950.0|More than 40|
|  3|   Bob|      null|null| 80000|        IT|     84000.0|             80800.0|More than 40|
|  5| David|1981-12-18|  43| 90000|        HR|     94500.0|             90900.0|More than 40|
| 10|Sophie|1992-06-30|  32| 62000|   Finance|     65100.0|             62620.0|    31 to 40|
|  2| Alice|1997-02-28|  27| 90000|   Finance|     94500.0|             90900.0|    21 to 30|
|  4| Emily|1994-11-22|  30| 70000|   Finance|     73500.0|             70700.0|    21 to 30|
|  9| James|1983-10-14|  41| 87000|        IT|     91350.0|             87870.0|More than 40|
|  8|  Lisa|1995-08-20|  29| 58000|        HR|     60900.0|             58580.0|    21 to 30|
+---+------+----------+----+------+----------+------------+--------------------+------------+

In [0]:
from pyspark.sql import Window

window=Window.partitionBy("age_group")

df.withColumn(
    "min_age_by_group",
    F.min("age").over(window)

).show()

+---+------+----------+----+------+----------+------------+--------------------+------------+----------------+
| id|  name|       dob| age|salary|department|salary_raise|salary_raise_10_perc|   age_group|min_age_by_group|
+---+------+----------+----+------+----------+------------+--------------------+------------+----------------+
|  4| Emily|1994-11-22|  30| 65000|   Finance|     68250.0|             65650.0|    21 to 30|              27|
|  2| Alice|1997-02-28|  27| 60000|        HR|     63000.0|             60600.0|    21 to 30|              27|
|  2| Alice|1997-02-28|  27| 90000|   Finance|     94500.0|             90900.0|    21 to 30|              27|
|  4| Emily|1994-11-22|  30| 70000|   Finance|     73500.0|             70700.0|    21 to 30|              27|
|  8|  Lisa|1995-08-20|  29| 58000|        HR|     60900.0|             58580.0|    21 to 30|              27|
|  1|  John|1992-05-12|  32| 70000|        IT|     73500.0|             70700.0|    31 to 40|              32|
|  6| Susan|1989-07-05|  35| 75000|   Finance|     78750.0|             75750.0|    31 to 40|              32|
| 10|Sophie|1992-06-30|  32| 62000|   Finance|     65100.0|             62620.0|    31 to 40|              32|
|  7|  Mike|1976-03-15|  48| 95000|        IT|     99750.0|             95950.0|More than 40|              41|
|  3|   Bob|      null|null| 80000|        IT|     84000.0|             80800.0|More than 40|              41|
|  5| David|1981-12-18|  43| 90000|        HR|     94500.0|             90900.0|More than 40|              41|
|  9| James|1983-10-14|  41| 87000|        IT|     91350.0|             87870.0|More than 40|              41|
+---+------+----------+----+------+----------+------------+--------------------+------------+----------------+

In [0]:

mean_salary = (df.select(F.avg('salary')).first()[0])

df.withColumns(
    {
        'avg_salary':F.lit(mean_salary),
        'is_above_avg':F.col("salary")>=mean_salary
    }
).show()


# average_salary = (df.select(F.avg('salary')).first()[0])
 
# df.withColumns(
#     {
#     'avg_salary': F.lit(average_salary),
#     'is_above_avg': F.col('salary') >= average_salary}
# ).show()

+---+------+----------+----+------+----------+------------+--------------------+------------+-----------------+------------+
| id|  name|       dob| age|salary|department|salary_raise|salary_raise_10_perc|   age_group|       avg_salary|is_above_avg|
+---+------+----------+----+------+----------+------------+--------------------+------------+-----------------+------------+
|  1|  John|1992-05-12|  32| 70000|        IT|     73500.0|             70700.0|    31 to 40|75166.66666666667|       false|
|  4| Emily|1994-11-22|  30| 65000|   Finance|     68250.0|             65650.0|    21 to 30|75166.66666666667|       false|
|  2| Alice|1997-02-28|  27| 60000|        HR|     63000.0|             60600.0|    21 to 30|75166.66666666667|       false|
|  6| Susan|1989-07-05|  35| 75000|   Finance|     78750.0|             75750.0|    31 to 40|75166.66666666667|       false|
|  7|  Mike|1976-03-15|  48| 95000|        IT|     99750.0|             95950.0|More than 40|75166.66666666667|        true|
|  3|   Bob|      null|null| 80000|        IT|     84000.0|             80800.0|More than 40|75166.66666666667|        true|
|  5| David|1981-12-18|  43| 90000|        HR|     94500.0|             90900.0|More than 40|75166.66666666667|        true|
| 10|Sophie|1992-06-30|  32| 62000|   Finance|     65100.0|             62620.0|    31 to 40|75166.66666666667|       false|
|  2| Alice|1997-02-28|  27| 90000|   Finance|     94500.0|             90900.0|    21 to 30|75166.66666666667|        true|
|  4| Emily|1994-11-22|  30| 70000|   Finance|     73500.0|             70700.0|    21 to 30|75166.66666666667|       false|
|  9| James|1983-10-14|  41| 87000|        IT|     91350.0|             87870.0|More than 40|75166.66666666667|        true|
|  8|  Lisa|1995-08-20|  29| 58000|        HR|     60900.0|             58580.0|    21 to 30|75166.66666666667|       false|
+---+------+----------+----+------+----------+------------+--------------------+------------+-----------------+------------+

In [0]:
ref_df=spark.read.format("parquet").load("dbfs:///FileStore/tables/data/parquet")

In [0]:
ref_df = ref_df.dropDuplicates(["manager"])

In [0]:
ref_df.show()

+----------+-------+--------+
|department|manager|    lead|
+----------+-------+--------+
|        HR|   Brad|   Brian|
|        IT|  Chris|Chandler|
|  Delivery|   Leon|  Louise|
|   Finance|  Megan|   Molly|
+----------+-------+--------+

In [0]:
df.show()

+---+------+----------+----+------+----------+------------+--------------------+------------+
| id|  name|       dob| age|salary|department|salary_raise|salary_raise_10_perc|   age_group|
+---+------+----------+----+------+----------+------------+--------------------+------------+
|  1|  John|1992-05-12|  32| 70000|        IT|     73500.0|             70700.0|    31 to 40|
|  4| Emily|1994-11-22|  30| 65000|   Finance|     68250.0|             65650.0|    21 to 30|
|  2| Alice|1997-02-28|  27| 60000|        HR|     63000.0|             60600.0|    21 to 30|
|  6| Susan|1989-07-05|  35| 75000|   Finance|     78750.0|             75750.0|    31 to 40|
|  7|  Mike|1976-03-15|  48| 95000|        IT|     99750.0|             95950.0|More than 40|
|  3|   Bob|      null|null| 80000|        IT|     84000.0|             80800.0|More than 40|
|  5| David|1981-12-18|  43| 90000|        HR|     94500.0|             90900.0|More than 40|
| 10|Sophie|1992-06-30|  32| 62000|   Finance|     65100.0|             62620.0|    31 to 40|
|  2| Alice|1997-02-28|  27| 90000|   Finance|     94500.0|             90900.0|    21 to 30|
|  4| Emily|1994-11-22|  30| 70000|   Finance|     73500.0|             70700.0|    21 to 30|
|  9| James|1983-10-14|  41| 87000|        IT|     91350.0|             87870.0|More than 40|
|  8|  Lisa|1995-08-20|  29| 58000|        HR|     60900.0|             58580.0|    21 to 30|
+---+------+----------+----+------+----------+------------+--------------------+------------+

In [0]:
df.join(
    ref_df,
    "department",
    "left"
).display()

department,id,name,dob,age,salary,salary_raise,salary_raise_10_perc,age_group,manager,lead
IT,1,John,1992-05-12,32,70000,73500.0,70700.0,31 to 40,Chris,Chandler
Finance,4,Emily,1994-11-22,30,65000,68250.0,65650.0,21 to 30,Megan,Molly
HR,2,Alice,1997-02-28,27,60000,63000.0,60600.0,21 to 30,Brad,Brian
Finance,6,Susan,1989-07-05,35,75000,78750.0,75750.0,31 to 40,Megan,Molly
IT,7,Mike,1976-03-15,48,95000,99750.0,95950.0,More than 40,Chris,Chandler
IT,3,Bob,null,null,80000,84000.0,80800.0,More than 40,Chris,Chandler
HR,5,David,1981-12-18,43,90000,94500.0,90900.0,More than 40,Brad,Brian
Finance,10,Sophie,1992-06-30,32,62000,65100.0,62620.0,31 to 40,Megan,Molly
Finance,2,Alice,1997-02-28,27,90000,94500.0,90900.0,21 to 30,Megan,Molly
Finance,4,Emily,1994-11-22,30,70000,73500.0,70700.0,21 to 30,Megan,Molly
IT,9,James,1983-10-14,41,87000,91350.0,87870.0,More than 40,Chris,Chandler
HR,8,Lisa,1995-08-20,29,58000,60900.0,58580.0,21 to 30,Brad,Brian

In [0]:
df.join(
    ref_df,
    df.department==ref_df.department,
    "left"
).show()

+---+------+----------+----+------+----------+------------+--------------------+------------+----------+-------+--------+
| id|  name|       dob| age|salary|department|salary_raise|salary_raise_10_perc|   age_group|department|manager|    lead|
+---+------+----------+----+------+----------+------------+--------------------+------------+----------+-------+--------+
|  1|  John|1992-05-12|  32| 70000|        IT|     73500.0|             70700.0|    31 to 40|        IT|  Chris|Chandler|
|  4| Emily|1994-11-22|  30| 65000|   Finance|     68250.0|             65650.0|    21 to 30|   Finance|  Megan|   Molly|
|  2| Alice|1997-02-28|  27| 60000|        HR|     63000.0|             60600.0|    21 to 30|        HR|   Brad|   Brian|
|  6| Susan|1989-07-05|  35| 75000|   Finance|     78750.0|             75750.0|    31 to 40|   Finance|  Megan|   Molly|
|  7|  Mike|1976-03-15|  48| 95000|        IT|     99750.0|             95950.0|More than 40|        IT|  Chris|Chandler|
|  3|   Bob|      null|null| 80000|        IT|     84000.0|             80800.0|More than 40|        IT|  Chris|Chandler|
|  5| David|1981-12-18|  43| 90000|        HR|     94500.0|             90900.0|More than 40|        HR|   Brad|   Brian|
| 10|Sophie|1992-06-30|  32| 62000|   Finance|     65100.0|             62620.0|    31 to 40|   Finance|  Megan|   Molly|
|  2| Alice|1997-02-28|  27| 90000|   Finance|     94500.0|             90900.0|    21 to 30|   Finance|  Megan|   Molly|
|  4| Emily|1994-11-22|  30| 70000|   Finance|     73500.0|             70700.0|    21 to 30|   Finance|  Megan|   Molly|
|  9| James|1983-10-14|  41| 87000|        IT|     91350.0|             87870.0|More than 40|        IT|  Chris|Chandler|
|  8|  Lisa|1995-08-20|  29| 58000|        HR|     60900.0|             58580.0|    21 to 30|        HR|   Brad|   Brian|
+---+------+----------+----+------+----------+------------+--------------------+------------+----------+-------+--------+

In [0]:
df=df.alias("main")
ref_df=ref_df.alias("reference")

In [0]:
df.join(
    ref_df,
    F.col("main.department")==F.col("reference.department"),
    "left"
)
df.show()

+---+------+----------+----+------+----------+------------+--------------------+------------+
| id|  name|       dob| age|salary|department|salary_raise|salary_raise_10_perc|   age_group|
+---+------+----------+----+------+----------+------------+--------------------+------------+
|  1|  John|1992-05-12|  32| 70000|        IT|     73500.0|             70700.0|    31 to 40|
|  4| Emily|1994-11-22|  30| 65000|   Finance|     68250.0|             65650.0|    21 to 30|
|  2| Alice|1997-02-28|  27| 60000|        HR|     63000.0|             60600.0|    21 to 30|
|  6| Susan|1989-07-05|  35| 75000|   Finance|     78750.0|             75750.0|    31 to 40|
|  7|  Mike|1976-03-15|  48| 95000|        IT|     99750.0|             95950.0|More than 40|
|  3|   Bob|      null|null| 80000|        IT|     84000.0|             80800.0|More than 40|
|  5| David|1981-12-18|  43| 90000|        HR|     94500.0|             90900.0|More than 40|
| 10|Sophie|1992-06-30|  32| 62000|   Finance|     65100.0|             62620.0|    31 to 40|
|  2| Alice|1997-02-28|  27| 90000|   Finance|     94500.0|             90900.0|    21 to 30|
|  4| Emily|1994-11-22|  30| 70000|   Finance|     73500.0|             70700.0|    21 to 30|
|  9| James|1983-10-14|  41| 87000|        IT|     91350.0|             87870.0|More than 40|
|  8|  Lisa|1995-08-20|  29| 58000|        HR|     60900.0|             58580.0|    21 to 30|
+---+------+----------+----+------+----------+------------+--------------------+------------+

In [0]:
df.join(
    ref_df.select(
        "manager",
        "lead",
         F.col("department").alias("reference_department").alias("reference")

    ),
    F.col("main.department")==F.col("reference.department"),
    "left"
)
df.show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-4331949038293567>:1
----> 1 df.join(
      2     ref_df.select(
      3         "manager",
      4         "lead",
      5          F.col("department").alias("reference_department").alias("reference")
      6
      7     ),
      8     F.col("main.department")==F.col("reference.department"),
      9     "left"
     10 )
     11 df.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2364, in DataFrame.join(self, other, on, how)
   2362         on = self._jseq([])
   2363     assert isinstance(how, str), "how should be a string"
-> 2364     jdf = self._jdf.join(other._jdf, on, how)
   2365 return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [INVALID_EXTRACT_BASE_FIELD_TYPE] Can't extract a value from "reference". Need a complex type [STRUCT, ARRAY, MAP] but got "STRING".

In [0]:
df.alias("main").join(
    ref_df.alias("reference"),
    F.col("main.department")==F.col("reference.department"),
    "left"
).select(
    F.col("main.*"),
    F.col("reference.manager"),
    F.col("lead"),
).show()

+---+------+----------+----+------+----------+------------+--------------------+------------+-------+--------+
| id|  name|       dob| age|salary|department|salary_raise|salary_raise_10_perc|   age_group|manager|    lead|
+---+------+----------+----+------+----------+------------+--------------------+------------+-------+--------+
|  1|  John|1992-05-12|  32| 70000|        IT|     73500.0|             70700.0|    31 to 40|  Chris|Chandler|
|  4| Emily|1994-11-22|  30| 65000|   Finance|     68250.0|             65650.0|    21 to 30|  Megan|   Molly|
|  2| Alice|1997-02-28|  27| 60000|        HR|     63000.0|             60600.0|    21 to 30|   Brad|   Brian|
|  6| Susan|1989-07-05|  35| 75000|   Finance|     78750.0|             75750.0|    31 to 40|  Megan|   Molly|
|  7|  Mike|1976-03-15|  48| 95000|        IT|     99750.0|             95950.0|More than 40|  Chris|Chandler|
|  3|   Bob|      null|null| 80000|        IT|     84000.0|             80800.0|More than 40|  Chris|Chandler|
|  5| David|1981-12-18|  43| 90000|        HR|     94500.0|             90900.0|More than 40|   Brad|   Brian|
| 10|Sophie|1992-06-30|  32| 62000|   Finance|     65100.0|             62620.0|    31 to 40|  Megan|   Molly|
|  2| Alice|1997-02-28|  27| 90000|   Finance|     94500.0|             90900.0|    21 to 30|  Megan|   Molly|
|  4| Emily|1994-11-22|  30| 70000|   Finance|     73500.0|             70700.0|    21 to 30|  Megan|   Molly|
|  9| James|1983-10-14|  41| 87000|        IT|     91350.0|             87870.0|More than 40|  Chris|Chandler|
|  8|  Lisa|1995-08-20|  29| 58000|        HR|     60900.0|             58580.0|    21 to 30|   Brad|   Brian|
+---+------+----------+----+------+----------+------------+--------------------+------------+-------+--------+

In [0]:
df.write.mode("overwrite").format("csv").save("dbfs:/FileStore/tables/final")

In [0]:
%fs ls dbfs:///FileStore/tables/final

path,name,size,modificationTime
dbfs:/FileStore/tables/final/_SUCCESS,_SUCCESS,0,1707888306000
dbfs:/FileStore/tables/final/_committed_632594348943999244,_committed_632594348943999244,212,1707888305000
dbfs:/FileStore/tables/final/_committed_6588261513969403078,_committed_6588261513969403078,114,1707804417000
dbfs:/FileStore/tables/final/_committed_vacuum5112769831977745175,_committed_vacuum5112769831977745175,96,1707888306000
dbfs:/FileStore/tables/final/_started_632594348943999244,_started_632594348943999244,0,1707888305000
dbfs:/FileStore/tables/final/part-00000-tid-632594348943999244-e965766c-a0ef-4c54-bfd5-56eddafe23cb-205-1-c000.csv,part-00000-tid-632594348943999244-e965766c-a0ef-4c54-bfd5-56eddafe23cb-205-1-c000.csv,698,1707888305000

In [0]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [0]:
df.write.mode("overwrite").format("delta").saveAsTable("final")

In [0]:
spark.sql("DROP TABLE final")

Out[45]: DataFrame[]

In [0]:
%sql 
select * from `final`

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-4331949038293571>:7
      5     display(df)
      6     return df
----> 7   _sqldf = ____databricks_percent_sql()
      8 finally:
      9   del ____databricks_percent_sql

File <command-4331949038293571>:4, in ____databricks_percent_sql()
      2 def ____databricks_percent_sql():
      3   import base64
----> 4   df = spark.sql(base64.standard_b64decode("c2VsZWN0ICogZnJvbSBgZmluYWxg").decode())
      5   display(df)
      6   return df

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `final` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 14;
'Project [*]
+- 'UnresolvedRelation [final], [], false

In [0]:
%fs ls dbfs:///FileStore/tables/final/delta

In [0]:
%fs ls dbfs:///FileStore/tables/final

path,name,size,modificationTime
dbfs:/FileStore/tables/final/_SUCCESS,_SUCCESS,0,1707888306000
dbfs:/FileStore/tables/final/_committed_632594348943999244,_committed_632594348943999244,212,1707888305000
dbfs:/FileStore/tables/final/_committed_6588261513969403078,_committed_6588261513969403078,114,1707804417000
dbfs:/FileStore/tables/final/_committed_vacuum5112769831977745175,_committed_vacuum5112769831977745175,96,1707888306000
dbfs:/FileStore/tables/final/_started_632594348943999244,_started_632594348943999244,0,1707888305000
dbfs:/FileStore/tables/final/part-00000-tid-632594348943999244-e965766c-a0ef-4c54-bfd5-56eddafe23cb-205-1-c000.csv,part-00000-tid-632594348943999244-e965766c-a0ef-4c54-bfd5-56eddafe23cb-205-1-c000.csv,698,1707888305000

In [0]:
%sql
desc `final`

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2881926381412166>:7
      5     display(df)
      6     return df
----> 7   _sqldf = ____databricks_percent_sql()
      8 finally:
      9   del ____databricks_percent_sql

File <command-2881926381412166>:4, in ____databricks_percent_sql()
      2 def ____databricks_percent_sql():
      3   import base64
----> 4   df = spark.sql(base64.standard_b64decode("ZGVzYyBgZmluYWxg").decode())
      5   display(df)
      6   return df

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `final` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 5;
'DescribeRelation false, [col_name#85, data_type#86, comment#87]
+- 'UnresolvedTableOrView [final], DESCRIBE TABLE, true