In [0]:
from pyspark.sql import SparkSession
Spark = SparkSession.builder.getOrCreate()
spark

In [0]:
file_path_csv= "dbfs:///FileStore/tables/csv/batch.csv"

In [0]:
df_csv= spark.read.format("csv").option('header',True).load(file_path_csv)

In [0]:
df_csv.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- department: string (nullable = true)

In [0]:
%fs ls dbfs:/FileStore/tables/json/

path,name,size,modificationTime
dbfs:/FileStore/tables/json/10_20220101.json,10_20220101.json,102,1707460938000
dbfs:/FileStore/tables/json/1_20220101.json,1_20220101.json,94,1707460938000
dbfs:/FileStore/tables/json/2_20220101.json,2_20220101.json,100,1707460939000
dbfs:/FileStore/tables/json/4_20220101.json,4_20220101.json,100,1707460939000
dbfs:/FileStore/tables/json/8_20220101.json,8_20220101.json,94,1707460939000
dbfs:/FileStore/tables/json/9_20220101.json,9_20220101.json,95,1707460939000
dbfs:/FileStore/tables/json/batch.jsonl,batch.jsonl,671,1707460940000

In [0]:
from pyspark.sql.types import *

In [0]:
schema = StructType([
    StructField("id", IntegerType()),
    StructField("name", StringType()),
    StructField("dob", DateType()),
    StructField("age", IntegerType()),
    StructField("salary", IntegerType()),
    StructField("department", StringType()),
])

In [0]:
df_csv= spark.read.format("csv").schema(schema).option('header',True).load(file_path_csv)

In [0]:
df_csv.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)

In [0]:
df_json=spark.read.format("json").load("dbfs:///FileStore/tables/json")

In [0]:
df_json.show()

+----+----------+----------+---+------+------+
| age|department|       dob| id|  name|salary|
+----+----------+----------+---+------+------+
|  30|        IT|1992-05-12|  1|  John| 70000|
|  25|        HR|1997-02-28|  2| Alice| 60000|
|null|        IT|      null|  3|   Bob| 80000|
|  28|   Finance|1994-11-22|  4| Emily| 65000|
|  41|        HR|1981-12-18|  5| David| 90000|
|  33|   Finance|1989-07-05|  6| Susan| 75000|
|  46|        IT|1976-03-15|  7|  Mike| 95000|
|  30|   Finance|1992-06-30| 10|Sophie| 62000|
|  25|   Finance|1997-02-28|  2| Alice| 90000|
|  28|   Finance|1994-11-22|  4| Emily| 70000|
|  39|        IT|1983-10-14|  9| James| 87000|
|  30|        IT|1992-05-12|  1|  John| 70000|
|  27|        HR|1995-08-20|  8|  Lisa| 58000|
+----+----------+----------+---+------+------+

In [0]:
df_json.printSchema()

root
 |-- age: long (nullable = true)
 |-- department: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
df1= df_csv.union(df_json)

In [0]:
df1.show(5)

+---+-----+----------+----+------+----------+
| id| name|       dob| age|salary|department|
+---+-----+----------+----+------+----------+
|  1| John|1992-05-12|  30| 70000|        IT|
|  2|Alice|1997-02-28|  25| 60000|        HR|
|  3|  Bob|      null|null| 80000|        IT|
|  4|Emily|1994-11-22|  28| 65000|   Finance|
| 30|   IT|1992-05-12|   1|  John|     70000|
+---+-----+----------+----+------+----------+
only showing top 5 rows

In [0]:
df_json = df_json.select(df_csv.columns)

In [0]:
df_json.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: long (nullable = true)
 |-- department: string (nullable = true)

In [0]:
df1= df_csv.union(df_json)

In [0]:
df1.show()

+---+------+----------+----+------+----------+
| id|  name|       dob| age|salary|department|
+---+------+----------+----+------+----------+
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  5| David|1981-12-18|  41| 90000|        HR|
|  6| Susan|1989-07-05|  33| 75000|   Finance|
|  7|  Mike|1976-03-15|  46| 95000|        IT|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|
|  2| Alice|1997-02-28|  25| 90000|   Finance|
|  4| Emily|1994-11-22|  28| 70000|   Finance|
|  9| James|1983-10-14|  39| 87000|        IT|
|  1|  John|1992-05-12|  30| 70000|        IT|
|  8|  Lisa|1995-08-20|  27| 58000|        HR|
+---+------+----------+----+------+----------+

In [0]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: long (nullable = true)
 |-- department: string (nullable = true)

In [0]:
df1.drop_duplicates
df1.show()

+---+------+----------+----+------+----------+
| id|  name|       dob| age|salary|department|
+---+------+----------+----+------+----------+
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  5| David|1981-12-18|  41| 90000|        HR|
|  6| Susan|1989-07-05|  33| 75000|   Finance|
|  7|  Mike|1976-03-15|  46| 95000|        IT|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|
|  2| Alice|1997-02-28|  25| 90000|   Finance|
|  4| Emily|1994-11-22|  28| 70000|   Finance|
|  9| James|1983-10-14|  39| 87000|        IT|
|  1|  John|1992-05-12|  30| 70000|        IT|
|  8|  Lisa|1995-08-20|  27| 58000|        HR|
+---+------+----------+----+------+----------+

In [0]:
df1.show()

+---+------+----------+----+------+----------+
| id|  name|       dob| age|salary|department|
+---+------+----------+----+------+----------+
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  1|  John|1992-05-12|  30| 70000|        IT|
|  2| Alice|1997-02-28|  25| 60000|        HR|
|  3|   Bob|      null|null| 80000|        IT|
|  4| Emily|1994-11-22|  28| 65000|   Finance|
|  5| David|1981-12-18|  41| 90000|        HR|
|  6| Susan|1989-07-05|  33| 75000|   Finance|
|  7|  Mike|1976-03-15|  46| 95000|        IT|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|
|  2| Alice|1997-02-28|  25| 90000|   Finance|
|  4| Emily|1994-11-22|  28| 70000|   Finance|
|  9| James|1983-10-14|  39| 87000|        IT|
|  1|  John|1992-05-12|  30| 70000|        IT|
|  8|  Lisa|1995-08-20|  27| 58000|        HR|
+---+------+----------+----+------+----------+

In [0]:
df1.select(
    "salary",
    "age"

).show()

+------+----+
|salary| age|
+------+----+
| 70000|  30|
| 60000|  25|
| 80000|null|
| 65000|  28|
| 70000|  30|
| 60000|  25|
| 80000|null|
| 65000|  28|
| 90000|  41|
| 75000|  33|
| 95000|  46|
| 62000|  30|
| 90000|  25|
| 70000|  28|
| 87000|  39|
| 70000|  30|
| 58000|  27|
+------+----+

In [0]:
print(df1.count)

<bound method DataFrame.count of DataFrame[id: bigint, name: string, dob: string, age: bigint, salary: bigint, department: string]>

In [0]:
from pyspark.sql import functions as F

In [0]:
df1.select(
    "*",
    ((df1.salary + 0.05 * df1.salary).alias("NEW_SAL")),
    (F.year(F.current_timestamp()) - F.year(F.col("dob"))).alias("REAL_AGE")
).show()

+---+------+----------+----+------+----------+-------+--------+
| id|  name|       dob| age|salary|department|NEW_SAL|REAL_AGE|
+---+------+----------+----+------+----------+-------+--------+
|  1|  John|1992-05-12|  30| 70000|        IT|73500.0|      32|
|  2| Alice|1997-02-28|  25| 60000|        HR|63000.0|      27|
|  3|   Bob|      null|null| 80000|        IT|84000.0|    null|
|  4| Emily|1994-11-22|  28| 65000|   Finance|68250.0|      30|
|  1|  John|1992-05-12|  30| 70000|        IT|73500.0|      32|
|  2| Alice|1997-02-28|  25| 60000|        HR|63000.0|      27|
|  3|   Bob|      null|null| 80000|        IT|84000.0|    null|
|  4| Emily|1994-11-22|  28| 65000|   Finance|68250.0|      30|
|  5| David|1981-12-18|  41| 90000|        HR|94500.0|      43|
|  6| Susan|1989-07-05|  33| 75000|   Finance|78750.0|      35|
|  7|  Mike|1976-03-15|  46| 95000|        IT|99750.0|      48|
| 10|Sophie|1992-06-30|  30| 62000|   Finance|65100.0|      32|
|  2| Alice|1997-02-28|  25| 90000|   Finance|94500.0|      27|
|  4| Emily|1994-11-22|  28| 70000|   Finance|73500.0|      30|
|  9| James|1983-10-14|  39| 87000|        IT|91350.0|      41|
|  1|  John|1992-05-12|  30| 70000|        IT|73500.0|      32|
|  8|  Lisa|1995-08-20|  27| 58000|        HR|60900.0|      29|
+---+------+----------+----+------+----------+-------+--------+