In [0]:
%sql
CREATE TABLE employees (
  employee_id INT,
  employee_name STRING,
  department STRING,
  salary DOUBLE
);

In [0]:
%sql
INSERT INTO employees VALUES
  (6, 'Eva Green', 'HR', 52000),
  (7, 'Sam Johnson', 'Marketing', 59000),
  (8, 'Alex Turner', 'IT', 63000),
  (9, 'Sophie Walker', 'Finance', 72000),
  (10, 'David Clark', 'IT', 60000),
  (11, 'Olivia King', 'Marketing', 56000),
  (12, 'Michael Baker', 'HR', 48000),
  (13, 'Emma White', 'Finance', 68000),
  (14, 'Daniel Smith', 'IT', 65000),
  (15, 'Grace Taylor', 'HR', 50000),
  (16, 'Liam Wilson', 'Marketing', 58000),
  (17, 'Ava Hall', 'IT', 61000),
  (18, 'Mia Adams', 'Finance', 70000),
  (19, 'Noah Moore', 'IT', 64000),
  (20, 'Isabella Davis', 'Marketing', 57000);

num_affected_rows,num_inserted_rows
15,15

In [0]:
%sql
SELECT * FROM employees;

employee_id,employee_name,department,salary
6,Eva Green,HR,52000.0
7,Sam Johnson,Marketing,59000.0
8,Alex Turner,IT,63000.0
9,Sophie Walker,Finance,72000.0
10,David Clark,IT,60000.0
11,Olivia King,Marketing,56000.0
12,Michael Baker,HR,48000.0
13,Emma White,Finance,68000.0
14,Daniel Smith,IT,65000.0
15,Grace Taylor,HR,50000.0
16,Liam Wilson,Marketing,58000.0
17,Ava Hall,IT,61000.0
18,Mia Adams,Finance,70000.0
19,Noah Moore,IT,64000.0
20,Isabella Davis,Marketing,57000.0

In [0]:
%sql
--salary greater than 60000
SELECT * FROM employees WHERE salary > 60000;

employee_id,employee_name,department,salary
8,Alex Turner,IT,63000.0
9,Sophie Walker,Finance,72000.0
13,Emma White,Finance,68000.0
14,Daniel Smith,IT,65000.0
17,Ava Hall,IT,61000.0
18,Mia Adams,Finance,70000.0
19,Noah Moore,IT,64000.0

In [0]:
%sql
--employees form IT dept
WITH it_department AS (SELECT * FROM employees WHERE department = "IT") 

SELECT * FROM it_department

employee_id,employee_name,department,salary
8,Alex Turner,IT,63000.0
10,David Clark,IT,60000.0
14,Daniel Smith,IT,65000.0
17,Ava Hall,IT,61000.0
19,Noah Moore,IT,64000.0

In [0]:
%sql
WITH top_3_earners as (SELECT *,dense_rank() over(order by salary desc ) as drk FROM employees )

SELECT * FROM top_3_earners  WHERE drk < 4;

employee_id,employee_name,department,salary,drk
9,Sophie Walker,Finance,72000.0,1
18,Mia Adams,Finance,70000.0,2
13,Emma White,Finance,68000.0,3

In [0]:
%sql
WITH avg_sal AS (select * , avg(salary) over(PARTITION BY department) as avg FROM employees )
select * FROM avg_sal;

employee_id,employee_name,department,salary,avg
9,Sophie Walker,Finance,72000.0,70000.0
13,Emma White,Finance,68000.0,70000.0
18,Mia Adams,Finance,70000.0,70000.0
6,Eva Green,HR,52000.0,50000.0
12,Michael Baker,HR,48000.0,50000.0
15,Grace Taylor,HR,50000.0,50000.0
8,Alex Turner,IT,63000.0,62600.0
10,David Clark,IT,60000.0,62600.0
14,Daniel Smith,IT,65000.0,62600.0
17,Ava Hall,IT,61000.0,62600.0
19,Noah Moore,IT,64000.0,62600.0
7,Sam Johnson,Marketing,59000.0,57500.0
11,Olivia King,Marketing,56000.0,57500.0
16,Liam Wilson,Marketing,58000.0,57500.0
20,Isabella Davis,Marketing,57000.0,57500.0

In [0]:
%sql
WITH emp_performance as (select *, (CASE 
  WHEN salary > 60000 THEN "High Performer"
  WHEN salary > 50000 THEN "Intermediate Performer"
  else "ok"  END) as performance FROM Employees)
SELECT *,CASE
  WHEN performance = "High Performer" THEN salary*0.1
  WHEN performance = "Intermediate Performer" THEN salary*0.05
  ELSE 0 end as bonus FROM emp_performance

employee_id,employee_name,department,salary,performance,bonus
6,Eva Green,HR,52000.0,Intermediate Performer,2600.0
7,Sam Johnson,Marketing,59000.0,Intermediate Performer,2950.0
8,Alex Turner,IT,63000.0,High Performer,6300.0
9,Sophie Walker,Finance,72000.0,High Performer,7200.0
10,David Clark,IT,60000.0,Intermediate Performer,3000.0
11,Olivia King,Marketing,56000.0,Intermediate Performer,2800.0
12,Michael Baker,HR,48000.0,ok,0.0
13,Emma White,Finance,68000.0,High Performer,6800.0
14,Daniel Smith,IT,65000.0,High Performer,6500.0
15,Grace Taylor,HR,50000.0,ok,0.0
16,Liam Wilson,Marketing,58000.0,Intermediate Performer,2900.0
17,Ava Hall,IT,61000.0,High Performer,6100.0
18,Mia Adams,Finance,70000.0,High Performer,7000.0
19,Noah Moore,IT,64000.0,High Performer,6400.0
20,Isabella Davis,Marketing,57000.0,Intermediate Performer,2850.0