In [0]:
%sql
CREATE TABLE employees (
  employee_id INT,
  employee_name STRING,
  department STRING,
  salary DOUBLE
);
 
INSERT INTO employees VALUES
  (6, 'Eva Green', 'HR', 52000),
  (7, 'Sam Johnson', 'Marketing', 59000),
  (8, 'Alex Turner', 'IT', 63000),
  (9, 'Sophie Walker', 'Finance', 72000),
  (10, 'David Clark', 'IT', 60000),
  (11, 'Olivia King', 'Marketing', 56000),
  (12, 'Michael Baker', 'HR', 48000),
  (13, 'Emma White', 'Finance', 68000),
  (14, 'Daniel Smith', 'IT', 65000),
  (15, 'Grace Taylor', 'HR', 50000),
  (16, 'Liam Wilson', 'Marketing', 58000),
  (17, 'Ava Hall', 'IT', 61000),
  (18, 'Mia Adams', 'Finance', 70000),
  (19, 'Noah Moore', 'IT', 64000),
  (20, 'Isabella Davis', 'Marketing', 57000);

num_affected_rows,num_inserted_rows
15,15

In [0]:
%sql
WITH cte_name AS (
    SELECT employee_id, employee_name ,department,
  salary
    FROM employees
    WHERE salary>60000
)

SELECT *
FROM cte_name;

employee_id,employee_name,department,salary
8,Alex Turner,IT,63000.0
9,Sophie Walker,Finance,72000.0
13,Emma White,Finance,68000.0
14,Daniel Smith,IT,65000.0
17,Ava Hall,IT,61000.0
18,Mia Adams,Finance,70000.0
19,Noah Moore,IT,64000.0

In [0]:
%sql
WITH it_dept AS (
  SELECT *
  FROM employees
  WHERE department = "IT"
)
 
SELECT * FROM it_dept

employee_id,employee_name,department,salary
8,Alex Turner,IT,63000.0
10,David Clark,IT,60000.0
14,Daniel Smith,IT,65000.0
17,Ava Hall,IT,61000.0
19,Noah Moore,IT,64000.0

In [0]:
%sql
WITH cte_ranked_earnings AS (
    SELECT employee_id, employee_name, department, salary,
           ROW_NUMBER() OVER (ORDER BY salary DESC) AS earnings_rank
    FROM employees
)

SELECT *
FROM cte_ranked_earnings
WHERE earnings_rank <= 3;

employee_id,employee_name,department,salary,earnings_rank
9,Sophie Walker,Finance,72000.0,1
18,Mia Adams,Finance,70000.0,2
13,Emma White,Finance,68000.0,3

In [0]:
%sql
WITH cte_avg_salary AS (
    SELECT department, AVG(salary) AS avg_salary
    FROM employees
    GROUP BY department
)

SELECT *
FROM cte_avg_salary;

department,avg_salary
HR,50000.0
Finance,70000.0
Marketing,57500.0
IT,62600.0

In [0]:
%sql
WITH cte_performance AS (
    SELECT
        employee_id,
        employee_name,
        department,
        salary,
        CASE
            WHEN salary > 60000 THEN 'High Performer'
            WHEN salary > 50000 THEN 'Intermediate Performer'
            ELSE 'Low Performer'
        END AS performance_category
    FROM employees
)

SELECT
    employee_id,
    employee_name,
    department,
    salary,
    performance_category,
    CASE
        WHEN performance_category = 'High Performer' THEN salary * 0.1
        WHEN performance_category = 'Intermediate Performer' THEN salary * 0.05
        ELSE 0
    END AS performance_bonus
FROM cte_performance;

employee_id,employee_name,department,salary,performance_category,performance_bonus
6,Eva Green,HR,52000.0,Intermediate Performer,2600.0
7,Sam Johnson,Marketing,59000.0,Intermediate Performer,2950.0
8,Alex Turner,IT,63000.0,High Performer,6300.0
9,Sophie Walker,Finance,72000.0,High Performer,7200.0
10,David Clark,IT,60000.0,Intermediate Performer,3000.0
11,Olivia King,Marketing,56000.0,Intermediate Performer,2800.0
12,Michael Baker,HR,48000.0,Low Performer,0.0
13,Emma White,Finance,68000.0,High Performer,6800.0
14,Daniel Smith,IT,65000.0,High Performer,6500.0
15,Grace Taylor,HR,50000.0,Low Performer,0.0
16,Liam Wilson,Marketing,58000.0,Intermediate Performer,2900.0
17,Ava Hall,IT,61000.0,High Performer,6100.0
18,Mia Adams,Finance,70000.0,High Performer,7000.0
19,Noah Moore,IT,64000.0,High Performer,6400.0
20,Isabella Davis,Marketing,57000.0,Intermediate Performer,2850.0