In [0]:
%fs
rm -r dbfs:/user/hive/warehouse/employee_data

In [0]:
%sql
CREATE or replace TABLE employee_data (
    employee_id INT ,
    department_id INT,
    position VARCHAR(50),
    salary INT,
    tenure_months INT,
    job_experience_years INT
);

In [0]:
%sql
INSERT INTO employee_data VALUES
(1, 101, 'Software Engineer', 90000, 24, 2),
(2, 102, 'Data Analyst', 60000, 18, 1),
(3, 101, 'Project Manager', 90000, 36, 5),
(4, 103, 'UX Designer', 75000, 27, 3),
(5, 102, 'Business Analyst', 70000, 22, 2),
(6, 101, 'Software Engineer', 80000, 30, 4),
(7, 103, 'Product Manager', 95000, 42, 7),
(8, 102, 'Data Scientist', 100000, 48, 8);

num_affected_rows,num_inserted_rows
8,8

In [0]:
%sql
SELECT * FROM employee_data;

employee_id,department_id,position,salary,tenure_months,job_experience_years
1,101,Software Engineer,90000,24,2
2,102,Data Analyst,60000,18,1
3,101,Project Manager,90000,36,5
4,103,UX Designer,75000,27,3
5,102,Business Analyst,70000,22,2
6,101,Software Engineer,80000,30,4
7,103,Product Manager,95000,42,7
8,102,Data Scientist,100000,48,8

In [0]:
%sql
SELECT employee_id,department_id,position,salary,tenure_months,
    row_number() OVER(PARTITION BY department_id ORDER BY salary DESC) AS rn FROM employee_data;

employee_id,department_id,position,salary,tenure_months,rn
1,101,Software Engineer,90000,24,1
3,101,Project Manager,90000,36,2
6,101,Software Engineer,80000,30,3
8,102,Data Scientist,100000,48,1
5,102,Business Analyst,70000,22,2
2,102,Data Analyst,60000,18,3
7,103,Product Manager,95000,42,1
4,103,UX Designer,75000,27,2

In [0]:
%sql
SELECT employee_id,department_id,position,salary,tenure_months,
    rank() OVER(PARTITION BY department_id ORDER BY salary DESC) AS rk FROM employee_data;

employee_id,department_id,position,salary,tenure_months,rk
1,101,Software Engineer,90000,24,1
3,101,Project Manager,90000,36,1
6,101,Software Engineer,80000,30,3
8,102,Data Scientist,100000,48,1
5,102,Business Analyst,70000,22,2
2,102,Data Analyst,60000,18,3
7,103,Product Manager,95000,42,1
4,103,UX Designer,75000,27,2

In [0]:
%sql
SELECT employee_id,department_id,position,salary,tenure_months,
    dense_rank()OVER(PARTITION BY department_id ORDER BY salary DESC) AS drk FROM employee_data;

employee_id,department_id,position,salary,tenure_months,drk
1,101,Software Engineer,90000,24,1
3,101,Project Manager,90000,36,1
6,101,Software Engineer,80000,30,2
8,102,Data Scientist,100000,48,1
5,102,Business Analyst,70000,22,2
2,102,Data Analyst,60000,18,3
7,103,Product Manager,95000,42,1
4,103,UX Designer,75000,27,2

In [0]:
%sql
  SELECT employee_id,department_id,position,salary,tenure_months,
    SUM(salary) OVER(PARTITION BY department_id ORDER BY tenure_months ) AS running_total_salary FROM employee_data;

employee_id,department_id,position,salary,tenure_months,running_total_salary
1,101,Software Engineer,90000,24,90000
6,101,Software Engineer,80000,30,170000
3,101,Project Manager,90000,36,260000
2,102,Data Analyst,60000,18,60000
5,102,Business Analyst,70000,22,130000
8,102,Data Scientist,100000,48,230000
4,103,UX Designer,75000,27,75000
7,103,Product Manager,95000,42,170000

In [0]:
%sql
SELECT employee_id,department_id,position,salary,tenure_months,
    SUM(salary) OVER() AS total_salary FROM employee_data;

employee_id,department_id,position,salary,tenure_months,total_salary
1,101,Software Engineer,90000,24,660000
2,102,Data Analyst,60000,18,660000
3,101,Project Manager,90000,36,660000
4,103,UX Designer,75000,27,660000
5,102,Business Analyst,70000,22,660000
6,101,Software Engineer,80000,30,660000
7,103,Product Manager,95000,42,660000
8,102,Data Scientist,100000,48,660000

In [0]:
%sql
  SELECT employee_id,department_id,position,salary,tenure_months,
    round(avg(salary) OVER(PARTITION BY department_id ORDER BY tenure_months ),2) AS average_running_total FROM employee_data;

employee_id,department_id,position,salary,tenure_months,average_running_total
1,101,Software Engineer,90000,24,90000.0
6,101,Software Engineer,80000,30,85000.0
3,101,Project Manager,90000,36,86666.67
2,102,Data Analyst,60000,18,60000.0
5,102,Business Analyst,70000,22,65000.0
8,102,Data Scientist,100000,48,76666.67
4,103,UX Designer,75000,27,75000.0
7,103,Product Manager,95000,42,85000.0

In [0]:
%sql
  SELECT employee_id,department_id,position,salary,tenure_months,
    LEAD(salary) OVER(PARTITION BY department_id ORDER BY tenure_months ) AS next_tenure_months FROM employee_data;

employee_id,department_id,position,salary,tenure_months,next_tenure_months
1,101,Software Engineer,90000,24,80000
6,101,Software Engineer,80000,30,90000
3,101,Project Manager,90000,36,null
2,102,Data Analyst,60000,18,70000
5,102,Business Analyst,70000,22,100000
8,102,Data Scientist,100000,48,null
4,103,UX Designer,75000,27,95000
7,103,Product Manager,95000,42,null

In [0]:
%sql
  SELECT employee_id,department_id,position,salary,tenure_months,
    LAG(salary) OVER(PARTITION BY department_id ORDER BY tenure_months ) AS next_tenure_months FROM employee_data;

employee_id,department_id,position,salary,tenure_months,next_tenure_months
1,101,Software Engineer,90000,24,null
6,101,Software Engineer,80000,30,90000
3,101,Project Manager,90000,36,80000
2,102,Data Analyst,60000,18,null
5,102,Business Analyst,70000,22,60000
8,102,Data Scientist,100000,48,70000
4,103,UX Designer,75000,27,null
7,103,Product Manager,95000,42,75000

In [0]:
%sql
SELECT employee_id,department_id,position,salary,tenure_months,
    first_value(salary) OVER(PARTITION BY department_id ORDER BY tenure_months ) AS first_tenure_salary FROM employee_data;

employee_id,department_id,position,salary,tenure_months,first_tenure_salary
1,101,Software Engineer,90000,24,90000
6,101,Software Engineer,80000,30,90000
3,101,Project Manager,90000,36,90000
2,102,Data Analyst,60000,18,60000
5,102,Business Analyst,70000,22,60000
8,102,Data Scientist,100000,48,60000
4,103,UX Designer,75000,27,75000
7,103,Product Manager,95000,42,75000

In [0]:
%sql